[2017-07-27 01:41] sgallagher opened #2 "Add a SimpleSet comparison function"
This will make it possible to avoid always setting `SimpleSet`s when saving, even if they have the same effective contents.

See https://github.com/sgallagher/c-modulemd/blob/a4e1617/modulemd/modulemd-profile.c#L100 for an example use-case.

[2017-08-10 19:57] sgallagher opened #3 "Add a SimpleSet and hash table sorting function"
The `get_as_strv()` routine currently returns in the order provided by the `GHashTable` iterator. We should allow passing a sorting comparison function to get the results in an expected order.

[2017-08-17 17:26] sgallagher commented on #3
Fixed as of https://github.com/sgallagher/libmodulemd/commit/060dc0bc60978d642386cde0c03fe44365727ec2

[2017-08-17 17:26] #3 closed

[2018-01-05 15:53] nphilipp opened #4 "Add name property to profiles."
As discussed on IRC: Currently, components have a name property and profiles don't. They might have more reason than profiles to carry that information (it identifies them "more") but it's surprising for a user of the API to remember that one thing has it and the other doesn't.

[2018-02-09 02:13] sgallagher opened #8 "Fix Travis CI build"
When Ubuntu 17.04 disappeared from the Ubuntu mirrors, the automated builds (including the one that submits the code to Coverity for static analysis) broke. Instead of relying on Ubuntu, we should update the Travis environment to use a Fedora Rawhide container.

[2018-02-09 16:51] #8 closed

[2018-02-15 21:33] #2 closed

[2018-02-22 19:47] hanzz opened #12 "How should the multilib work?"
I'm going to implement proper multilib in Pungi, spec.v2.yaml says:

[code]

I talked with @contyk about this and he says the TODO basically means it is not clear what the arches should be in multilib field and if the current way how multilib field is defined is enough. We should have the final way how to define multilib so I can implement that in Pungi.

From the Pungi perspective, the current wa

[2018-02-23 10:55] ignatenkobrain commented on #12
I don't think this field should be in there at all... or it should be simple true/false.

Another option is to set multilib per-component which probably would be best. Now you have to ask releng to tweak pungi configuration which means in modular world this won't be possible. So if we allow users to do per-component multilib -- would be awesome.

Getting back to value of multilib.. Having arch whe

[2018-02-23 11:21] hanzz commented on #12
Which multilib field? The one in Pungi configuration or the one in Modulemd?

I'm confused, because the multilib field in modulemd yaml already is per component.

[2018-02-23 11:31] ignatenkobrain commented on #12
@hanzz in both.

[2018-02-24 02:57] mprahl opened #13 "Why does `modulemd_module_get_dependencies` return an array?"
I'm working on porting MBS to libmodulemd and noticed that when running `mmd.get_dependencies()` on a v2 modulemd (became v2 via upgrade), I seem to always get a list with one element, no matter how many requires or buildrequires the modulemd specifies. To actually get those requires and buildrequires, I have to run `mmd.get_dependencies()[0].get_requires()` and  `mmd.get_dependencies()[0].get_bui

[2018-02-24 03:06] mprahl opened #14 "`version` must be set before `data` in the modulemd when dependencies are specified"
When loading a modulemd from a file, the following fails with "Invalid document [Unknown modulemd version]. Skipping it":
[code]

When specifying the version before `dependencies` is processed, it works as expected.
[code]

I'm not sure how to workaround this in MBS as both should be valid modulemds, or at least they were in the Python implementation of modulemd.

[2018-02-24 03:43] mprahl opened #15 "Python segfaults when running `add_rpm_component`"
The following causes Python to segfault:
[code]

This is the modulemd I'm using:
https://pagure.io/fm-orchestrator/blob/master/f/tests/staged_data/formatted_testmodule.yaml

[2018-02-24 03:45] mprahl commented on #15
Nevermind, I had a syntax error.

[2018-02-25 15:25] mprahl opened #16 "RPM components aren't in the output of `dumps`"
When running `dumps` on a `Modulemd.Module` object, the string output doesn't include the RPM components.

This is blocking the Module Build Service from migrating to libmodulemd, which inherently blocks work on Module Stream Expansion.

Here is an example:
[code]

[2018-02-26 01:14] sgallagher commented on #14
Yeah, this is a bug. I'll work around it by carrying an "assumed" modulemd version if we encounter a v1-only or v2-only feature before the modulemd version. Then we can fail later when we encounter the actual version.

[2018-02-26 01:18] sgallagher commented on #13
The [v2 format](https://github.com/fedora-modularity/libmodulemd/blob/master/spec.v2.yaml#L78) specifically requires that dependencies are a list in order to support stream expansion. However, in the specific case of an upgrade from a v1 file, you will always have a list of only one value because the v1 format could only handle a single one (hence the need for the backwards-incompatible change to

[2018-02-26 01:18] #13 closed

[2018-02-26 01:37] sgallagher commented on #15
@mprahl Can you share the syntax error? A segfault should still not have happened...

[2018-02-26 01:58] mprahl commented on #15
@sgallagher I had accidentally reassigned the value of `component.set_name` rather than running the function. It was a copy-paste error while I was working on migrating MBS to libmodulemd.

[2018-02-26 01:58] #15 closed

[2018-02-26 02:08] mprahl opened #17 "[RFE] Remove warning on v1->v2 upgrade on modulemds that don't have `eol` set"
When upgrading a v1 modulemd to v2 that doesn't have the `eol` property set, you get the warning `__main__:1: Warning: g_date_valid: assertion 'd != NULL' failed`. This warning isn't useful since a v1 modulemd is valid without having the `eol` property set. It'd be friendlier to not have this warning, especially since it can pollute application logs if the `upgrade` function is often run.

Here is

[2018-02-26 02:24] #16 closed

[2018-02-26 03:02] mprahl commented on #16
@sgallagher thanks for fixing this. Can you please create a scratch build with this fix?

[2018-02-26 03:04] sgallagher commented on #16
@mprahl I'm going to release 1.0.3 with this fix and one for https://github.com/fedora-modularity/libmodulemd/issues/14 as soon as I finish with that one (which should be in the next hour or so).

[2018-02-26 03:48] #14 closed

[2018-02-26 06:47] ignatenkobrain commented on #17
Yeah, I wanted to talk with @sgallagher about this once he gets back ;)

[2018-02-27 02:41] mprahl opened #18 "`new_from_file` and `new_from_string` hang indefinitely on bad YAML"
When trying to create a `Moduemd.Module` object with bad YAML, it will hang as long as the bad YAML starts with `document: modulemd\n`.

For example:
[code]

We need libmodulemd to be able fail on bad modulemd files that users submit to MBS.

[2018-02-27 11:55] sgallagher commented on #18
Confirmed. I think I see where the problem is; I should have a fix in a couple hours.

[2018-02-27 14:58] #18 closed

[2018-02-27 15:01] sgallagher commented on #17
I ended up fixing this issue incidentally as part of a rework of the solution for https://github.com/fedora-modularity/libmodulemd/issues/18 in https://github.com/fedora-modularity/libmodulemd/commit/2b12f6af57b9db0e3a0de9d0b49e431d1b36abcd

The decision was to always return NULL on `get_eol()` if it is either unset or invalid. That way, the consumer doesn't have to handle both cases.

[2018-02-27 15:01] #17 closed

[2018-02-28 13:58] sgallagher opened #19 "Add _dup() and _peek() functions for libmodulemd"
After conversations with GNOME folks, it was made clear that a "proper" GObject API should have both `object_peek()` and `object_dup()` methods. The `object_peek()` methods would be the same functionality as currently provided by `object_get()` in libmodulemd and should be implemented as deprecating the latter.

`object_dup()` methods must return a deep copy of the property.

[2018-03-14 07:17] hanzz opened #24 "Support boolean variant type for XMD"
When setting boolean variant in xmd, libmodulemd fails with:

[code]

We would like to use this for "mse" flag in XMD section in MBS.

[2018-03-14 13:23] sgallagher commented on #24
@hanzz Can you please give a code or YAML example of this? It's probably easy to fix, but I need to know what it should look like.

[2018-03-14 14:01] hanzz commented on #24
[code]

[2018-03-14 18:22] #24 closed

[2018-03-14 18:22] #19 closed

[2018-03-15 08:27] hanzz opened #25 "rpm_buildopts lost after dumps and new_from_string with 1.1.0"
It also prints "Incompatible modulemd version" while running these methods. Reproducer:

[code]

[2018-03-15 08:38] hanzz opened #26 "Warning: g_object_unref: assertion 'G_IS_OBJECT (object)' failed"
For this particular mmd file, the new_from_string method shows following warning, but things are working, so not a critical issue :).

[code]

[2018-03-15 13:28] contyk opened #27 "Make the stream and profiles optional in modulemd-defaults"
This is a backwards compatible change.

Use cases for optional default stream: modules providing alternatives to non-modularized software and documents defining default streams under intents

User cases for optional default profiles: perhaps highly specialized modules that do not provide any profiles whatsoever (profiles are optional) and those defining their profiles under intents

[2018-03-15 14:13] #25 closed

[2018-03-15 14:13] #26 closed

[2018-03-15 14:13] #27 closed

[2018-03-23 12:58] mhatina opened #30 "Cannot use libmodulemd with libdnf (c++)"
Hello,

I am not able to compile libdnf, when including any header from libmodulemd.

Here is minimal reproducer:
[main.cpp.txt](https://github.com/fedora-modularity/libmodulemd/files/1841483/main.cpp.txt)

Compiling using:
[code]

[2018-03-23 13:03] sgallagher commented on #30
Ah, the header files are missing `extern C { }` blocks. I'll get an update out ASAP.

[2018-03-23 13:28] ignatenkobrain commented on #30
@sgallagher please use `G_BEGIN_DECLS` + `G_END_DECLS`

[2018-03-23 13:36] sgallagher commented on #30
@ignatenkobrain I actually DO use those; but it appears G_END_DECLS is missing from one of the headers `#include`d by modulemd.h.

I will fix this.

[2018-03-23 13:47] #30 closed

[2018-03-23 16:25] sgallagher commented on #30
I just submitted libmodulemd-1.1.3-2 to updates-testing for all active Fedora releases and EPEL 7.

[2018-04-03 16:58] contyk opened #32 "Provide convenience functions for modulemd-defaults"
It'd be nice to have modulemd-style convenience functions for the defaults, too. I would like to load and dump multiple defaults (and only defaults) from/to strings and files.

[2018-04-03 17:48] sgallagher opened #33 "Segfault using Modulemd.Module.new_all_from_file_ext()"
The following script will cause a segmentation fault:

[code]

The reason is incorrect memory management of the returned array.

[2018-04-03 18:10] #33 closed

[2018-04-04 12:57] #32 closed

[2018-04-12 11:56] sgallagher opened #38 "libmodulemd should treat multiple defaults for the same module as a failure"
When reading in a YAML stream, libmodulemd must keep track of the set of modules for which a defaults object exists and throw a validation error if defaults for the same module occur twice in one stream.

[2018-04-12 12:00] sgallagher opened #39 "libmodulemd should provide a prioritized merging routine for modules and defaults"
When dealing with multiple repositories, we need to handle how to merge content. For example, if we have a release repository (`fedora-modular`) and an updates repository (`fedora-modular-updates`) and both provides differing profiles in a modulemd-defaults file, we need to prefer the `fedora-modular-updates` version.

[2018-04-12 12:03] sgallagher commented on #39
Addendum: in the event that there is a collision between two entries with the same priority value, it must be considered an error.

[2018-04-13 03:26] sgallagher commented on #38
I'm scrapping this; it's okay if they exist in the same stream as long as they don't conflict (because the merge logic being implemented in #39 will deduplicate it anyway).

[2018-04-13 03:26] #38 closed

[2018-04-17 06:01] dmach opened #42 "SIGSEGV in Prioritizer when no defaults were added"
libmodulemd crashes when no defaults to Prioritizer were added.

reproducer:
[code]

[2018-04-17 07:20] dmach opened #43 "Do not warn about missing stream from profile defaults."
Example data:
[code]

This triggers following output:
[code]
I think this behavior is incorrect. Consider following use cases:

1. specify default stream only; use the 'default' profile in modulemd or the empty 'default' fallback
2. override installation profiles without touching the default stream (or eventually don't have a default at all)

[2018-04-17 07:45] dmach opened #44 "Prioritizer: throw an error when merging different data with identical priority"
I'm not sure if it's expected that provided example ends with 'master' default stream.
I was assuming that this behavior is allowed only when 2nd record has higher priority (lower number).
Shouldn't the Prioritizer raise an error instead?

[code]

[2018-04-17 08:33] dmach opened #45 "Prioritizer: add() should throw an error on priority that is out of range"
When priority is a too big number it either overflows or add() fails:
`module_defaults_prioritizer.add(defaults, 99999999999)`
The result is that the added defaults are not present in the prioritizer output.

[2018-04-17 08:58] dmach opened #46 "Modulemd: enforce N-E:V-R.A format in artifacts/rpms"
The DNF team proposes a change in how libmodulemd handles RPM NEVRAs.
We'd like to always get records in N-E:V-R.A format.
libmodulemd SHOULD fail on reading data in invalid format.
libmodulemd MUST fail on writing data in invalid format.

As part of this, we'd like to enforce '0:' epoch when the epoch is zero or empty in RPM.
In some cases missing epoch can represented as "any epoch", which may r

[2018-04-17 09:01] ignatenkobrain commented on #46
technically, missing Epoch means epoch=0. I'm quite hesitant to make this change since it's pointless and just increases size of md.

[2018-04-17 09:03] ignatenkobrain commented on #42
If you would add backtrace, it would be very useful.

[2018-04-18 11:18] sgallagher opened #47 "RFE: Add a way to return the raw YAML documents that failed validation for logging"
Right now, the `parse_yaml()` function only returns the subset of results that validated the parser and reports errors using `g_message()`. We should instead have some mechanism for returning an error code and the failed YAML document string to the calling function to handle its own logging.

[2018-04-18 11:26] sgallagher commented on #46
@dmach This ticket is asking only for the [data.artifacts.rpms](https://github.com/fedora-modularity/libmodulemd/blob/master/spec.v2.yaml#L319) list to be in this format and not for [data.api.rpms](https://github.com/fedora-modularity/libmodulemd/blob/master/spec.v2.yaml#L202) or [data.filter.rpms](https://github.com/fedora-modularity/libmodulemd/blob/master/spec.v2.yaml#L215), correct?

I *can* m

[2018-04-18 11:34] sgallagher commented on #45
OK, I'll add a `MODULE_DEFAULT_PRIORITY_MAX` `#define` to the public header and validate that the priority doesn't exceed that.

[2018-04-18 11:36] sgallagher commented on #44
I think you misunderstood priority for modulemd. The *higher* number wins, not the lower.

However, if this isn't throwing an error, there must be a bug somewhere. I thought I had added a test for this case; I must have missed it.

[2018-04-18 11:40] sgallagher commented on #43
This is behaving according to the [modulemd-defaults v1 specification](https://github.com/fedora-modularity/libmodulemd/blob/master/mod-defaults/spec.v1.yaml#L13). It is therefore not a bug, it is functioning as designed. If you want to change the specification, we need to have a discussion with several others, including @contyk and @james-antill

For the record, this change would be to lessen the

[2018-04-18 11:41] sgallagher commented on #42
Clearly a bug, I'll get it fixed up.

[2018-04-18 13:26] #42 closed

[2018-04-18 13:33] contyk commented on #43
I think it's a good idea to be explicit in the defaults yet making the specification less strict in this regard would make sense to me, especially given that we have the `default` fallback and many modules don't provide much more than that.

[2018-04-18 13:39] ignatenkobrain opened #50 "Add functions for reading from FILE *"
Using path to file is fine, but not when you are dealing with something complex.

[2018-04-18 15:39] james-antill commented on #43
I believe our assumption was that you'd do:

   profiles:
     master: [default]
     "2.0": []

...to make it obvious what was happening. But also that it would generally be bad to not have "install @testmodule" work. Saying that I can't think of a reason to not allow Daniel's form.

[2018-04-18 17:48] contyk commented on #46
The summary of the ticket only talks about `data.artifacts.rpms`.

The specification already says that this list includes NEVRAs but I'm also unsure whether such validation belongs in libmodulemd -- I'd much rather see a test for this (and other things) in a compose level test of some kind.

And for the record, it's Pungi that fills this in.

[2018-04-18 17:59] sgallagher commented on #44
Ahhh, I see what happened here. The first document fails to parse successfully because it has no matching profile for the default stream (See https://github.com/fedora-modularity/libmodulemd/issues/43 for details on a change in plan for that).

The first document results in zero valid entries, so there's nothing with which to conflict for the second document, thus it wins. If you change the first

[2018-04-18 18:36] #43 closed

[2018-04-19 09:57] ignatenkobrain opened #53 "modulemd_objects_from_file fails with `error` set to NULL"
[code]

code like this fails with
[code]

Moreover, it segfaults:
[code]

[2018-04-19 10:25] ignatenkobrain opened #54 "build: add `modulemd_dep`"
By using `declare_dependency()` for ease of bundling libmodulemd..

In theory, should be something like

[code]

[2018-04-19 10:25] ignatenkobrain commented on #54
I would use libmodulemd as a subproject() from my project.

[2018-04-19 10:27] ignatenkobrain opened #55 "modulemd: include checksum information into artifacts.rpm"
Lookup by NEVRA is extremely slow... See filelists.xml for example how checksum is used.

I was pretty sure I have filled this RFE before, but can't find it.

[2018-04-19 12:12] sgallagher commented on #53
@ignatenkobrain Can you include the YAML file that is failing to parse? I have no idea how to reproduce this situation.

[2018-04-19 12:14] sgallagher commented on #54
You are talking about adding something like this to the meson.build file? Would this happen at the top-level or in the modulemd subdir?

I'll definitely do this; I just want to make sure I'm doing it correctly.

[2018-04-19 12:16] ignatenkobrain commented on #54
This.

[2018-04-19 12:17] ignatenkobrain commented on #53
[8e7a1438e8668c6a8a74eb6d9ff3362f8039dd5f4ab25a4bb2db30e685e639d8-modules.yaml.gz](https://github.com/fedora-modularity/libmodulemd/files/1928052/8e7a1438e8668c6a8a74eb6d9ff3362f8039dd5f4ab25a4bb2db30e685e639d8-modules.yaml.gz)

[2018-04-19 12:37] sgallagher commented on #54
@ignatenkobrain please try the PR I just submitted and see if it works for you.

[2018-04-19 14:38] sgallagher commented on #46
Ah right, the spec *does* say that it's NEVRA and even has `0:` epoch in its examples. If that's required by the spec, libmodulemd probably should be validating it. That being said, I'd prefer not to land such validation until pungi is producing the correct output or else we're going to cause problems.

[2018-04-19 16:44] #50 closed

[2018-04-19 16:44] #53 closed

[2018-04-19 16:44] #54 closed

[2018-04-20 13:54] sgallagher commented on #46
@contyk I assume that it must not be, else I can't really see @dmach filing this ticket.

@dmach, can you show me an example of an artifact that isn't using the epoch notation?

[2018-04-20 18:03] sgallagher commented on #44
I think the underlying problem here was that the ignored document went unnoticed. That should be resolved with https://github.com/fedora-modularity/libmodulemd/issues/47 (and PR https://github.com/fedora-modularity/libmodulemd/pull/58) so I'm going to close this ticket.

[2018-04-20 18:03] #44 closed

[2018-04-25 10:44] contyk commented on #12
I updated the specification some time ago.

The spec already includes per component multilib fields and those list koji arches for which multilib should be enabled. What exactly that translates to depends on what we build, what's available and multilib rules in the composer. I think this can be closed.

[2018-04-25 10:44] #12 closed

[2018-04-25 17:07] #47 closed

[2018-04-25 17:08] #46 closed

[2018-04-30 07:48] dmach commented on #55
I don't recommend using checksums. Query performance improvements will be part of new libdnf release (part of DNF 3).
If you implement the checksums, you'll have to deal with sigkeys first.
RPMs get built unsigned. Then they're signed with a Beta key and then Release key.
I don't think you want to rebuild modulemd every time an RPM gets signed.

[2018-04-30 07:54] dmach opened #60 "Make libmodulemd buildable on CentOS 7 / RHEL 7"
We'll need libmodulemd built for YUM4 CentOS SIG:
https://wiki.centos.org/SpecialInterestGroup/ConfigManagementSIG/YUM4

The build is also needed for several infrastructure tools as they run on RHEL 7.

We can't build libmodulemd as it is, because RHEL doesn't have python3 and meson.

[2018-05-01 07:50] ignatenkobrain commented on #60
RHEL or CentOS? What about EPEL?

[2018-05-01 07:52] ignatenkobrain commented on #55
@dmach note that filelists already have to include this information so metadata has to be regenerated anyway.

Also libdnf/dnf is irrelevant here, because I'm not interested in using it.

[2018-05-02 12:54] lubomir opened #61 "libmodulemd 1.4.0 can't read file 1.3.0 had no problems with"
[code]

[code]

[2018-05-02 13:38] lubomir commented on #61
Thanks for clarification. Problem is indeed on my side.

[2018-05-02 13:38] #61 closed

[2018-05-02 13:41] sgallagher commented on #61
Oh, and for future information, libmodulemd now also provides `/usr/bin/modulemd-validator` which can be used (with `--verbose`) to see the exact reasons why a subdocument is being denied.

In this case:
[code]

[2018-05-02 19:36] sgallagher commented on #60
@dmach We really do need an answer here. Is there some reason that the EPEL 7 version is insufficient? Because changing build-systems entirely is going to be quite unpleasant.

[2018-05-03 04:40] dmach commented on #60
We'll need libmodulemd for both:
- YUM4 CentOS SIG
- RHEL 7

I don't think that any repo that is part of RHEL subscription can rely on EPEL.

[2018-05-03 04:46] dmach commented on #55
Igor,
you don't seem to understand the problem.
Filelists contain checksum information, but it's an implementation detail in repomd repodata - how to connect data across 3 files where checksum represents a primary key.

I'm talking about situation when you replace an unsigned RPM in a repo with a signed copy.
Repodata refresh is expected, because repodata is not build and tracked as a proper artif

[2018-05-03 10:06] sgallagher commented on #60
Your original post said that a CentOS SIG needed it. As I understand it, CentOS variants are allowed to carry new software like EPEL.

If RHEL proper needs it, why can’t RHEL add meson and ninja-build to the “Optional” channel? Is it because of python 3? RHEL 7 should be able to build it with SCL python 3, right?

[2018-05-03 11:38] ignatenkobrain commented on #55
You do. Imagine that you changed license and rebuilt package with same NEVRA. This means you need to regenerate `licenses/content` yaml tag.

[2018-05-03 11:48] sgallagher commented on #55
You can’t rebuild an RPM with the same NEVRA; the build system won’t allow it.

[2018-05-03 12:12] ignatenkobrain commented on #55
@sgallagher depends on the buildsystem.

[2018-05-17 07:29] ignatenkobrain commented on #60
Resolution is following: libmodulemd is not going to change its buildsystem.

RHEL's webkit2gtk3 is built using software collections (DTS), so this should not be a problem for RHEL. Given that CentOS has to rebuild RHEL packages, there is also way to use SCLs to build packages.

So nothing to do from libmodulemd side.

[2018-05-17 07:29] #60 closed

[2018-05-29 20:59] owtaylor opened #66 "set_rpm_artifacts() doesn't enforce NEVRA format"
Recently the parsing code was made to enforce that the RPM artifacts are in name-epoch:version-release form, but the setters weren't changed to match, so it's possible to use libmodulemd to generate a file it can't read back in.

I would suggest that set_rpm_artifacts() should warn and not set the artifacts at all if the contained strings are invalid. Stripping only non-validating elements would b

[2018-06-04 12:09] sgallagher opened #67 "Intents are not copied by modulemd_defaults_copy()"
Intents support was added for 1.5.0, but copying existing intents when copying a defaults object was missed. This needs to be fixed before 1.5.0 is released.

[2018-06-04 12:20] #67 closed

[2018-06-04 12:23] sgallagher opened #68 "Intents need to be handled while merging defaults"
When adding support for Intents, they weren't figured into default-merging. (Presently, they are ignored during the merge, so only the Intents set by the first defaults subdocument for a particular module will be used.

The proposed logic is to treat it like the Profiles: if the key does not exist, it is added with the new document's value. If the key does exist, override with the higher-valued su

[2018-06-04 12:36] sgallagher commented on #68
Minor correction: we should allow adding *new* profiles to the Intents object, so that will need to be addressed by the merge logic. So, as long as the intent name and default string are the same and no existing keys in the intent profile dictionary have different values, we can add new keys cleanly.

[2018-06-12 19:31] sgallagher commented on #68
Fixed by https://github.com/fedora-modularity/libmodulemd/commit/2ac12a1cfd98a0013de1ae6382b6ee8eee249335

[2018-06-12 19:31] #68 closed

[2018-06-18 18:08] sgallagher opened #70 "Refactor YAML parser and Emitter"
Right now, the YAML parser and emitter logic is all in monolithic files with all the YAML parsing.

It would be better and more maintainable in the future if the parser and emitter sections were handled by the C files containing the objects they represent.

[2018-06-22 17:06] mprahl opened #72 "Methods on mmd.props.buildopts aren't available unless a buildopt is set"
You can test this with the following Python code:

[code]

I'm currently using libmodulemd v1.5.1.

[2018-06-22 17:38] #72 closed

[2018-07-19 20:56] daviddavis opened #74 "Getting a validation error when context is not set"
When parsing a modules.yaml file and one of the modulemd entries doesn't contain a `context` element, I get:

[code]

However, this seems to disagree with [what is present in the spec](https://github.com/fedora-modularity/libmodulemd/blob/0087053d44d3a4b7b530e294236a713c9e1a4018/spec.v2.yaml#L19).

[2018-07-19 21:10] daviddavis commented on #74
Sorry, I misread my stacktrace. 🙂

[2018-07-19 21:10] #74 closed

[2018-07-20 13:59] ipanova opened #75 "modulemd_defaults_dumps () Adds fields which where not initially present on the yaml document."
In [1]: import gi

In [2]: gi.require_version('Modulemd', '1.0')

[code]
Meanwhile in the downloaded modules.yaml file the defaults for django look like:

[code]

Version : libmodulemd-1.5.2-1.fc28.x86_64
NOTE: Intents where NOT present in the original yaml document

Same behaviours is noticed with modulemd_defaults_dump ()

[2018-07-20 14:09] ipanova opened #76 "modulemd_module_dumps () Adds fields which where not initially present on the yaml document."
[code]
Same behaviour is observed with dump() method.

Version: libmodulemd-1.5.2-1.fc28.x86_64

[2018-07-20 14:16] ipanova commented on #75
Modulemd.dump() and dumps suffers from same https://sgallagh.fedorapeople.org/docs/libmodulemd/1.5/modulemd-1.0-modulemd.html#modulemd-dump

[2018-07-20 14:17] ignatenkobrain commented on #75
Probably it's better to just open one issue which lists all fields which modulemd adds? ;)

[2018-07-20 14:20] ipanova commented on #75
probably. feel free to close as dup if that makes your process better.
i opened these are as separate since i do not know if the root cause is same or different.

[2018-07-20 14:30] sgallagher commented on #75
Thanks for the report. Yeah, I forgot to make a check for empty content and suppress the fields.

(Also, thanks for reminding me that I need to publish the 1.6.x API docs as well)

I'll close the other issue, please list any that you discover in this one so I can get them all fixed up in one go.

[2018-07-20 14:30] sgallagher commented on #76
Marking as a dupe of #75

[2018-07-20 14:30] #76 closed

[2018-07-20 14:34] ipanova commented on #75
@sgallagher thanks!

[2018-07-20 14:35] sgallagher commented on #75
@ipanova So is the list just the intents and buildopts, or are there others?

[2018-07-20 14:43] ipanova commented on #75
yes, have not spotted any other discrepancies so far @sgallagher

[2018-07-20 15:13] #75 closed

[2018-07-20 16:40] sgallagher commented on #75
@ipanova I've release 1.6.1 with these fixes. Thanks for the report!

[2018-08-03 18:03] hanzz opened #77 "buildorder: -1 is broken"
[code]

[code]

[2018-08-07 13:50] sgallagher commented on #77
Aaargh, okay I made a mistake and I implemented the buildorder field in the `Modulemd.Component` object as an unsigned 64-bit integer, but you are correct: the spec for modulemd explicitly says it should handle negative integers.

Changing this value is technically an ABI break, though I find it hard to believe that anyone has a buildorder greater than `2^63` in use today, so maybe it makes sense

[2018-08-07 20:16] frenzymadness commented on #77
If I could vote here, I'd vote for point 2.

I really think that build order lower than zero is useful feature especially when you need to build just one component before the rest so you can specify build order just once for that one component and let the rest with the default (zero).

To help you make a decision I wrote a simple script which clones all modules from dist git and prints all build o

[2018-08-08 02:54] sgallagher commented on #77
@contyk, @hanzz and I met for dinner last night and discussed this. Our plan is indeed to implement option 2 above (change the API without bumping soname).

[2018-08-22 20:16] sgallagher opened #80 "Dumping Modulemd.TranslationEntry to YAML crash if entry is missing summary or description"
This should not crash, but should throw an error.

[2018-09-03 22:05] FrostyX commented on #77
@sgallagher, thank you for fixing this.
I think, that there is still a small bug, because

    component = Modulemd.ComponentRpm(name="pkg1", rationale="Just because")
    component.set_buildorder(-1)

works fine, but

    Modulemd.ComponentRpm(name="pkg1", rationale="Just because", buildorder=-1)

still fails with

    *** TypeError: could not convert value for property `buildorder' from int to g

[2018-09-03 22:07] sgallagher commented on #77
Yep, that looks like a mistake. I’ll get a fix out tomorrow. Thanks for spotting it!

[2018-09-04 19:07] #77 closed

[2018-09-05 01:17] sgallagher commented on #77
@FrostyX I've got builds of libmodulemd 1.6.3 that include this fix going in Fedora Koji right now: https://koji.fedoraproject.org/koji/packageinfo?packageID=24950

Please pull down the one for the appropriate platform and confirm that this issue is fixed. I'll get them into a Bodhi update tomorrow if so.

[2018-09-05 10:13] lubomir opened #82 "dup_nsvc() prints version in hexadecimal"
I can replicate this with 1.6.1 and 1.6.2 through the gobject introspection bindings:

[code]

[2018-09-06 12:09] r4f4 opened #84 "libmodulemd shouldn't allow mixing positive and negative requires"
Right now, libmodulemd allows the following
- requires:
    platform: [-f26, -f27, f28, -f29]
even though that doesn't make much sense. It should only allow all positive or all negative requires.

[2018-09-06 15:03] mprahl opened #85 "Module component refs are lost when dumping the object to a string"
If I have a module component that has a ref specified, the ref is lost when I dump the module to a string.

Here is the reproducer in Python:

[code]

[2018-09-06 15:19] sgallagher commented on #85
Turns out there was a copy-paste error in the YAML output and I was writing the repository value to the ref. Oops. PR is out.

[2018-09-06 17:09] #82 closed

[2018-09-06 17:09] #85 closed

[2018-09-18 01:24] ralphbean opened #88 "priorities resolver doesn't de-duplicate?"
I tried this today:

[code]

Am I doing something wrong?

[2018-09-18 01:30] sgallagher commented on #88
Can you share the YAML you used? Are the contents all unique in the stream?

[2018-09-18 12:01] ralphbean commented on #88
I used https://kojipkgs.fedoraproject.org/compose/29/latest-Fedora-29/compose/Modular/x86_64/os/repodata/ff798cd44921894ebe5768b4e09c24e8f673b24a5a2c3f49a9561f845c692ac4-modules.yaml.gz

[2018-09-18 19:51] #88 closed

[2018-10-22 10:40] hanzz opened #94 "Module with version "0" cannot be loaded"
Or if I generate it manually, "dup_nsvc()" of such module returns "None". Reproducer:
[code]

[2018-10-22 16:25] ignatenkobrain opened #95 "implement "buildonly" for components/rpms"
For instance, in rust ecosystem we just want to pull components for the buildroot. Yes, you can use `filter`, but since that doesn't support globs/regex, it would be to complex to list 2-30 rpms per component.

[2018-10-22 16:26] ignatenkobrain opened #96 "implement "buildafter" or something similar for components/rpms"
Only one of `buildorder` or `buildafter` should be used. Then MBS could take advantage of this submitting all builds at once and let koji handle build queue and priorities.

I picked first name which came to my mind, you can choose different one.

[2018-10-23 18:49] contyk commented on #96
Do you think just the notion of "after" would be sufficient or should there be other keywords, similar to the dependency language of systemd unit files, for instance?

By the way, this is tracked as a high level goal here: https://tree.taiga.io/project/modularity-wg/epic/33

[2018-10-23 18:50] contyk commented on #95
This also makes sense to me. MBS could also translate this into `filter` for easier debugging later.

This will need an epic.

[2018-10-23 22:46] ignatenkobrain commented on #96
hmmm, I think `after` should be enough.

[2018-10-25 21:39] sgallagher opened #97 "Build fails with -Werror=format-security"
https://github.com/fedora-modularity/libmodulemd/pull/90 introduced format errors that we didn't catch because we weren't building upstream with `-Werror=format-security`. However, our downstreams enforce this and we need to support it for good security practice.

[2018-10-26 00:16] #97 closed

[2018-10-31 10:35] tpgxyz opened #99 "No such file or directory: '/builddir/build/BUILD/modulemd-1.7.0/spec_tmpl.sh"
latest version 1.7.0 does not build
More logs can be found here https://abf.openmandriva.org/build_lists/264186

[code]

[2018-10-31 12:46] sgallagher commented on #99
During the run of `/usr/bin/meson --buildtype=plain --prefix=/usr --libdir=/usr/lib64 --libexecdir=/usr/libexec --bindir=/usr/bin --sbindir=/usr/sbin --includedir=/usr/include --datadir=/usr/share --mandir=/usr/share/man --infodir=/usr/share/info --localedir=/usr/share/locale --sysconfdir=/etc --localstatedir=/var --sharedstatedir=/var/lib --wrap-mode=nodownload --auto-features=enabled . build -Dd

[2018-10-31 12:51] sgallagher commented on #99
Oh, interesting. It looks like if /usr/bin/sh isn't present on the system, it displays that message. I didn't realize that could happen on Mandriva. I'll add a proper find_programs() call for that.

[2018-11-03 20:52] ignatenkobrain commented on #95
any chance to get this prioritized?

https://src.fedoraproject.org/modules/stratis/blob/1/f/stratis.yaml#_31

my filter list is taking 368 lines... and it's just one module

[2018-11-05 13:49] Conan-Kudo opened #101 "Implement XML variant of module metadata"
For various reasons, a number of tools and systems expect all of rpm-md to be XML formatted, and the current implementation of module metadata breaks this expectation.

In order to make it possible for the ecosystem at large to be able to handle module metadata properly, please implement support for generating and handling module metadata in XML instead of YAML. This restores the consistency for r

[2018-11-05 13:52] Conan-Kudo commented on #99
@sgallagher For further explanation, OpenMandriva has not undergone [UsrMerge](https://www.freedesktop.org/wiki/Software/systemd/TheCaseForTheUsrMerge/), so `/bin` is not a symlink to `/usr/bin`.

[2018-11-06 16:59] #99 closed

[2018-11-06 17:20] sgallagher commented on #95
@ignatenkobrain I agree that this makes sense, but it's also non-trivial to implement. I can add the field to libmodulemd easily-enough, but MBS will also need to be updated to convert the artifacts produced by the component into the filter list.

[2018-11-21 02:46] sgallagher commented on #101
This isn't realistically going to happen in the 2.0 release. Moving to a 3.0 target in the indeterminate future so as to reflect reality.

I realize that this is a desirable feature for certain setups, OBS included, but unfortunately we don't have the cycles/humanpower to get it in on the schedule we need for 2.0.

[2018-11-21 13:45] sgallagher commented on #96
@contyk, @ignatenkobrain
I gave this some thought this morning and I have a suggestion for how this might work. Here's an example of the structure (underneath the `data` section of modulemd and excluding the rest of the modulemd)

[code]

To break it down, we'd add two new directives: `after` and `bootstrap`. We would replace `buildorder` with `after` (and I'd recommend we make this a metadata ver

[2018-11-21 14:59] Conan-Kudo commented on #101
I've got some free cycles coming up soon, so if it would help, I can look at designing the XML metadata schema based on the current YAML form.

[2018-11-26 01:51] sgallagher commented on #66
Just to circle back here, I scrapped the plan for `.set()` functions to perform input validation as in many cases they can't know if it's valid at that time (relative to other values). All objects that produce a YAML document (`Modulemd.ModuleStream`, `Modulemd.Defaults` and `Modulemd.Translations`) will however have a `.validate()` method that can be invoked to find out if the objects are interna

[2018-11-28 18:53] r4f4 opened #125 "libmodulemd 1.7 segfaults if given a module without a name"
Trying to run `modulemd_index_from_file` with a module without a name will cause libmodulemd to segfault.

To reproduce the issue, use the following module description:
[code]
and the following executable:
[code]

[2018-11-28 18:53] r4f4 commented on #125
gcc output of the above program:
[code]

[2018-11-28 20:01] #94 closed

[2018-12-04 13:27] kkaarreell opened #148 "module defaults should be versioned"
Module defaults should be versioned so in case I have an older copy of Modular repository and there is possibly a conflict in defaults the newer definition is used.

[2018-12-04 17:12] sgallagher commented on #148
@contyk, @whitel @asamalik  We've resisted this in the past because we'd been assuming that the defaults would not be changing except on major release upgrades, but I'm starting to see the value in it.

I think we could add a `modified` field into the `data` section like we have in the [Translation](https://github.com/fedora-modularity/libmodulemd/blob/master/translations/spec.v1.yaml#L14) documen

[2018-12-04 17:42] whitel commented on #148
I think there is a whole host of reasons to carry a modified timestamp. I am definitely +1 and not sure why we didn't have this in the first place.

I was thinking we could assume "blank" == "file modified date" from the server rather than 0. However, we should probably always assume the server may not be available and the filesystem date may not be reliable.

[2018-12-04 17:52] sgallagher commented on #148
Additionally, libmodulemd wouldn't actually have access to that information without a major redesign (and one per year is enough for me, thank you). The contents of the metadata are retrieved by the program first and then passed to us. libmodulemd does not perform any direct activity with the repository.

[2018-12-07 09:53] asamalik commented on #148
+1

[2018-12-07 13:05] ignatenkobrain commented on #148
+1

[2018-12-07 14:31] contyk commented on #148
So I'm generally +1 and I also think this doesn't require a format version bump if we assume that undefined = 0.

But before we move forward, could you describe your proposal of all the merge scenarios?

[2018-12-07 14:56] sgallagher commented on #148
# Current

Merging Defaults entries behaves as follows:
- Any module default that is provided by a single repository is authoritative.
- If the repos have different priorities (not common), then the default for this module and stream name coming from the repo of higher priority will be used and the default from the lower-priority repo will not be included.
- If the repos have the same priority (su

[2018-12-07 15:04] sgallagher commented on #148
To expand on this a bit, DNF uses this functionality to ensure that Defaults on the local disk in `/etc/dnf/modules.defaults.d/` will always supersede the contents in the repository. I don't want the `modified` value to interfere with that.

[2018-12-07 19:14] contyk commented on #148
Thank you. +1.

[2018-12-07 19:34] #148 closed

[2018-12-11 01:31] sgallagher commented on #96
@contyk @mprahl @hanzz I would very much appreciate input on this in the near future.

[2018-12-11 09:03] ignatenkobrain commented on #96
According to an example above, buildorder will be following:

* `someotherdep` is built at the same time as `myrpm/first_pass`
* once `myrpm/first_pass` is built, we start building `somedep`
* once both `somedep` and `someotherdep` are available, we start building `myrpm/second_pass`
* once `myrpm/second_pass` is built, we build `myrpm`

Do I understand this example correctly?

[2018-12-11 17:39] contyk opened #161 "libmodulemd's strict checking behavior"
In order to be ready for any future metadata additions without requiring an up-to-date libmodulemd, the default strict format checking behavior should be changed.

In APIv2 this should be configurable, preferrably non-strict by default. CI and buildsystems could enable the strict mode explicitly to generate quality content. Most other tools should be fine with non-strict.

If possible, make this a

[2018-12-12 02:44] sgallagher commented on #161
Fixed in 2.0.0beta2 (and the associated 1.8.0beta2)

[2018-12-12 02:44] #161 closed

[2019-01-03 16:01] nphilipp opened #165 "libmodulemd API v1 produces a GLib warning on an empty data.api dict"
I just stumbled over an [old build](https://mbs.fedoraproject.org/module-build-service/1/module-builds/354?verbose=true) of `perl-bootstrap:f26` where in the processed modulemd, `data.api` is an empty dict:

[code]

When processing this modulemd in Python (using API v1), it gave this same warning I got when running `modulemd-validator` (v1) on it:

[code]

This doesn't happen with a `modulemd-vali

[2019-01-04 11:01] #165 closed

[2019-01-23 14:05] sgallagher commented on #96
@ignatenkobrain Sorry, I thought I replied to this, but I must not have. Yes, that is what I expect to happen there.

@mizdebsk this is the ticket I mentioned to you today.

[2019-01-23 15:03] mohanboddu opened #173 "RFE: Add a way to return whether a module build requires or requires a particular platform"
As part of mass rebuild we need to know what modules should be rebuilt and that can be identified by looking at the the modulemd build requires, it would be easy if libmodulemd can provide that info when a modulemd with a platform is provided.

Same as above but during branching, we need to identify the modules that runtime requires a certain platform. So, when a modulemd is provided with a platfo

[2019-01-24 10:57] sgallagher commented on #173
@mohanboddu Would an API like this work?

[code]

The `modules_to_build` would be a list of `Modulemd.ModuleStream` objects that matched the provided module and stream in buildrequires. The same would be offered for requires also (as `index.get_modules_that_depend_on_stream ('platform', '31')`)

Also pinging @puiterwijk for his opinion.

I think I'll publish this as `Stability: unstable` for now.

[2019-01-24 10:59] sgallagher commented on #173
@mohanboddu In the specific case of the mass-rebuild that we discussed in-person yesterday, you'd create a new `index` for each yaml document in the dist-git repos and then you could just check `size(modules_to_build)` to determine if that build should be included (since there would only be one module in the index, so either it will or won't be returned).

[2019-01-24 11:14] mizdebsk commented on #96
The "after" functionality is a good generalization of buildorder and it would help to speed up some module builds. The "bootstrap" feature proposed by @sgallagher should work in some, but not all bootstrapping cases. Notably, it won't work for bootstrapping javapackages-tools module in Fedora.

[2019-01-24 12:36] mohanboddu commented on #173
@sgallagher I think it will work.

Thanks.

[2019-01-25 10:57] sgallagher commented on #173
@mohanboddu While implementing, I've realized that the above approach won't work (mostly because the contents in dist-git have no `name` or `version` fields, because that's populated by MBS from the dist-git repo and branch. The new approach looks like this:

[code]

[2019-01-25 11:06] mohanboddu commented on #173
@sgallagher That should work.

Thanks.

[2019-01-26 20:46] #173 closed

[2019-01-26 21:11] sgallagher commented on #173
@mohanboddu I've pushed the fix and build libmodulemd 2.1.0 for Rawhide, F29 and F28. You can see the API documentation for the new functions at https://sgallagh.fedorapeople.org/docs/libmodulemd/2.0/modulemd-2.0-ModulemdModuleStream.html#modulemd-module-stream-depends-on-stream

[2019-02-03 18:37] Conan-Kudo opened #176 "libmodulemd-2.1.0 fails to build on openSUSE Leap 15"
When trying to build libmodulemd-2.1.0 on openSUSE Leap 15, it fails with the following log output:

[code]

This is reproducible with [libmodulemd-2.1.0-1.1.src.rpm](https://ngompa.fedorapeople.org/suse/libmodulemd-2.1.0-1.1.src.rpm) with the following command:
[code]

It works in openSUSE Tumbleweed, Mageia Cauldron, and Fedora. I'm not sure why it's broken in openSUSE Leap 15.

[2019-02-04 14:30] sgallagher commented on #176
Turns out that this is a bug in meson. The upstream patch to fix it is https://github.com/mesonbuild/meson/commit/c5865c50c444912afd92c2feb94d8739874a62b2

[2019-02-04 14:30] #176 closed

[2019-02-08 14:04] hanzz commented on #96
I'm OK with buildafter, this is only syntax change from which we can still generate buildorder and use batches internally in MBS.

For bootstrap, there might be some implementation issues/decisions which we should discuss:

1) How to pass build macros to single Koji build? I think we currently set buildmacros in module-build-macros and with bootstrap, we would need to add a macro there, rebuild mo

[2019-02-08 14:49] Conan-Kudo commented on #96
I'm not sure this is a good idea or even needed to solve this problem. My understanding is that it is definitely possible to have libdnf or even base libsolv sort build dependencies and create ordered groups of packages to build correctly.

At least in my experience with OBS, the way it works is that the build scheduler uses the solver to identify what requires what and it creates order groups and

[2019-02-11 21:23] puiterwijk opened #182 "Update README for libmodulemd v2"
We now have v2 merged and launched, we should update the README in the repository to mention importing it rather than 1.0.

[2019-02-12 11:34] hanzz opened #183 "Strange unicode behaviour with `dumps`"
Execute http://jkaluza.fedorapeople.org/mmd.py. The resulting yaml escapes emoticon, but keeps the second character as it is.

[2019-02-12 11:50] ignatenkobrain commented on #183
[code]

[2019-02-12 11:56] hanzz commented on #183
You have too new libmodulemd :).

[2019-02-12 11:58] hanzz commented on #183
latest available for me is libmodulemd-1.7.0-1.fc28.x86_64. I can try with 2.x.y too.

[2019-02-12 12:19] sgallagher commented on #183
The submitted script does not specify the API version to use, so if you have 2.0 available, it tries to use that and fails. Replace the top few lines with
[code]
To force it to use the 1.0 API (assuming you have the python-libmodulemd1 package installed)

I can reproduce the issue on 1.8.2. I need to keep digging to figure out why this is happening.

[2019-02-12 13:27] sgallagher commented on #183
For the record:

[code]

This is a 2.0 API version that also has the same problem. I'm looking into whether the issue is with libmodulemd, libyaml or GObject Introspection.

[2019-02-12 13:42] sgallagher commented on #183
OK, I just ruled out GObject introspection by adding an input and output test in pure C. So the issue must be with either libmodulemd or libyaml.

[code]

Yields:
[code]

Which shows that the output here is changing `Two unicode chars: \360\237\230\204 \342\200\231` to `Two unicode chars: \\U0001F604 \342\200\231`

[2019-02-12 13:49] sgallagher commented on #183
OK, the problem must be happening on the export itself, since it's stored properly internally:

[code]

[2019-02-12 13:59] sgallagher commented on #183
OK, the bug is definitely in libyaml:

[code]

This produces:
[code]

[2019-02-12 14:03] sgallagher commented on #183
Or... I misread that and both were escaped.

[2019-02-12 14:14] hanzz opened #184 "Return `unicode` in `mmd.dumps()` with python2"
The `dumps()` method currently returns `str` with py2, but the returned string can contain unicode characters. There is a way to convert it to unicode(string, "utf-8"), but it seems it is hard to do that nicely in a way that both python2 and python3 are supported.

Could instead the `dumps()` return unicode on Python2?

[2019-02-12 15:44] sgallagher commented on #183
OK, after a lot of digging, it turns out that libyaml/pyyaml has a long-standing bug where it will always escape any unicode codepoint greater than 0xFFFF, which includes all emoji. That's why the emoji was being escaped and the right-quotation mark was not, since I have libmodulemd set to print the unicode directly into the document, rather than escaping it.

Regardless of which way the output is

[2019-02-12 15:44] #183 closed

[2019-02-12 20:01] sgallagher commented on #182
https://github.com/fedora-modularity/libmodulemd/pull/185

[2019-02-13 19:31] sgallagher commented on #184
The situation here is that these strings are getting passed back via GObject Introspection bindings which, as far as I can tell, will only give you a UTF8-encoded 8-bit `str` type on Python 2. On Python 3 it will give you the Python 3 `str` type which is unicode-aware.

While I *could* offer you a hack for this specific function to decode it to `unicode`, it would still be `str` for functions like

[2019-02-14 13:17] hanzz opened #186 "Provide method which compares two ModuleStream objects"
In MBS unit-test, we want to be able to compare two modulemd objects to ensure they are the same. We currently have to do `yaml.load(mmd1.dumps()) == yaml.load(mmd2.dumps())` to achieve that. It would be nice if there is some libmodulemd method to do the same.

[2019-02-14 16:18] sgallagher commented on #186
This should be a fairly easy (but not quick) addition to the 2.0 API. What we'll need:

`Modulemd.ModuleStream` (the parent class) will add a `.equals()` virtual function that will be implemented by `Modulemd.ModuleStreamV1` and `Modulemd.ModuleStreamV2`. Its responsibility will be to recurse down into the various objects and variables making up the ModuleStream and perform an equality comparison

[2019-02-14 16:19] sgallagher opened #187 "Provide method which compares two Defaults objects"
This should be a fairly easy (but not quick) addition to the 2.0 API. What we'll need:

Modulemd.Defaults (the parent class) will add a .equals() virtual function that will be implemented by Modulemd.DefaultsV1. Its responsibility will be to recurse down into the various objects and variables making up the Defaults and perform an equality comparison on them. If any of them are different, it should

[2019-02-14 16:23] sgallagher opened #188 "Enhance IndexMerger to use equality checks"
Right now, we use a highly-simplified comparison when merging ModuleStream objects from two different repositories. We check whether they have the same NSVC and then assume them to be the same content. It would be better to perform a full equality check.

This depends on https://github.com/fedora-modularity/libmodulemd/issues/186

[2019-02-14 17:36] #182 closed

[2019-02-14 17:37] #184 closed

[2019-02-15 18:08] sgallagher opened #189 "Create Python tutorial: Getting the default stream for a module"
Currently, the README.md and [modulemd.h](https://github.com/fedora-modularity/libmodulemd/blob/master/modulemd/v2/include/modulemd-2.0/modulemd.h) files have some limited guides for how to work with libmodulemd, but some real tutorials on API 2.0 would be ideal.

Create tutorial documentation (either extending modulemd.h annotations or by adding a new Tutorial section to the documentation) descri

[2019-02-15 18:09] sgallagher opened #190 "Create C tutorial: Getting the default stream for a module"
Currently, the README.md and [modulemd.h](https://github.com/fedora-modularity/libmodulemd/blob/master/modulemd/v2/include/modulemd-2.0/modulemd.h) files have some limited guides for how to work with libmodulemd, but some real tutorials on API 2.0 would be ideal.

Create tutorial documentation (either extending modulemd.h annotations or by adding a new Tutorial section to the documentation) descri

[2019-02-15 18:15] sgallagher opened #191 "Create Python tutorial: List the RPM API for a provided module NSVC"
Currently, the README.md and [modulemd.h](https://github.com/fedora-modularity/libmodulemd/blob/master/modulemd/v2/include/modulemd-2.0/modulemd.h) files have some limited guides for how to work with libmodulemd, but some real tutorials on API 2.0 would be ideal.

Create tutorial documentation (either extending modulemd.h annotations or by adding a new Tutorial section to the documentation) descri

[2019-02-15 18:21] sgallagher opened #192 "Extend tests for ModuleStream.depends_on_stream() to cover empty stream lists"
The tests for `depends_on_stream()` and `build_depends_on_stream()` should validate that it handles the case of an empty list of streams properly.

As per the specification, the behavior here must be that an empty list means "all possible values".

[2019-02-21 07:09] OrionStar25 commented on #190
Can I work on this issue?  I'm applying for Outreachy

[2019-02-21 07:10] OrionStar25 commented on #189
Can I work on this issue?

[2019-02-21 07:52] ananyaarun commented on #191
@sgallagher May i work on this issue ?

[2019-02-21 12:11] nfatma commented on #187
Hello!
I am an Outreachy applicant, I would like to work on this issue.

[2019-02-21 13:01] athira-selvam commented on #192
Hi,
I am an Outreachy applicant, I would like to work on this project. Shall work on this issue?
 - Thank you.

[2019-02-21 14:25] sgallagher commented on #192
Please go right ahead!

I've also just added a new section to the README.md to help you get started setting up your development environment. Please let me know if you have any difficulty with getting started.

[2019-02-21 14:26] sgallagher commented on #191
Please go right ahead!

I've also just added a new section to the README.md to help you get started setting up your development environment. Please let me know if you have any difficulty with getting started.

[2019-02-21 14:26] sgallagher commented on #190
Please go right ahead!

I've also just added a new section to the README.md to help you get started setting up your development environment. Please let me know if you have any difficulty with getting started.

[2019-02-21 14:26] sgallagher commented on #187
Please go right ahead!

I've also just added a new section to the README.md to help you get started setting up your development environment. Please let me know if you have any difficulty with getting started.

[2019-02-21 16:50] ananyaarun commented on #191
Sure , I will get started with setting up my development environment :)

[2019-02-22 04:06] ayushi1998 commented on #186
Hey I am an Outreachy applicant, would like to work on this issue!

[2019-02-22 15:26] irenge commented on #190
Can two people work on the same issue ?

[2019-02-22 15:28] irenge commented on #188
Hi
May I work on this issue ?
Thanks

[2019-02-23 00:36] indigoOmega021 commented on #186
@sgallagher virtual functions are not native to C. Do you mind further explaining what you mean by "virtual function" and possibly point to some resources on how to implement it?

[2019-02-23 21:13] nikitaa30 commented on #189
I would like to know if I could contribute to this issue. Kindly guide me towards the same.

[2019-02-25 12:51] sgallagher commented on #190
@irenge I don't have a problem if you and @OrionStar25 each work on this issue separately, but please be aware that I will probably end up reviewing them individually and then asking the two of you to combine them together before I merge it upstream.

[2019-02-25 12:52] sgallagher commented on #189
Either or both of you may work on this issue. Given that it is documentation, I'd expect that before it gets merged upstream, we'll end up combining the best parts of each of your submissions.

[2019-02-25 12:59] sgallagher commented on #186
@indigoOmega021 The libmodulemd project is built atop the GObject toolkit. This offers us two advantages: the first is a rough approximation of object-orientation for the C language. The second is automatic introspection of these objects to create bindings for other languages such as python.

A pretty good tutorial on GObjects (including how to create virtual and pure-virtual functions) can be fou

[2019-02-25 13:25] sgallagher commented on #188
@irenge Please go ahead.

[2019-02-26 19:35] Conan-Kudo opened #194 "Add openSUSE Leap 15.1 and openSUSE Tumbleweed tests"
Since DNF 4.x landed in openSUSE Leap 15.1 (which is in Beta currently) and openSUSE Tumbleweed, libmodulemd is now present in both distributions.

We should make sure we don't accidentally break building and using the library on those distributions (and prevent more issues like #176 from happening again).

[2019-02-26 19:38] Conan-Kudo opened #195 "Add Mageia 7 tests"
Since DNF 4.x landed in Mageia 7 (which is in Beta currently), libmodulemd is now present in this distribution.

We should make sure we don't accidentally break building and using the library on this distribution.

[2019-02-26 19:38] sgallagher opened #196 "Add openSUSE Tumbleweed tests"
Since DNF 4.x landed in openSUSE Leap 15.1 (which is in Beta currently) and openSUSE Tumbleweed, libmodulemd is now present in both distributions.

We should make sure we don't accidentally break building and using the library on those distributions (and prevent more issues like #177 or #180 from happening again).

[2019-02-26 19:40] sgallagher commented on #194
This would be a good task for an Outreachy candidate. To get started, take a look at the `.travis.yml` and `.travis/` directory in the source tree.

A new `.travis/opensuse/` subdirectory should be created and populated with an appropriate Dockerfile and `travis-tasks.sh`.

[2019-02-26 19:40] sgallagher commented on #196
This would be a good task for an Outreachy candidate. To get started, take a look at the `.travis.yml` and `.travis/` directory in the source tree.

A new `.travis/opensuse/` subdirectory should be created and populated with an appropriate Dockerfile and `travis-tasks.sh`.

[2019-02-26 19:41] NishkaDG commented on #194
I would like to work on this.

[2019-02-26 19:41] sgallagher commented on #195
This would be a good task for an Outreachy candidate. To get started, take a look at the `.travis.yml` and `.travis/` directory in the source tree.

A new `.travis/mageia/` subdirectory should be created and populated with an appropriate Dockerfile and `travis-tasks.sh`.

[2019-02-26 19:41] Conan-Kudo commented on #195
Note that `dnf` is present in Mageia containers since Mageia 6, so potentially the Fedora steps will work (with small modifications).

[2019-02-26 19:44] Conan-Kudo opened #197 "Add Mageia Cauldron tests"
Since DNF 4.x landed in Mageia Cauldron, libmodulemd is now present in this distribution.

We should make sure we don't accidentally break building and using the library on this distribution.

[2019-02-26 19:44] Conan-Kudo commented on #197
Note that `dnf` is used as a system package manager in Mageia and package names tend to be similar to Fedora, so it may not require much tweaks to the Fedora configuration to work for Mageia.

[2019-02-26 20:53] sgallagher opened #198 "Copy python tests for Modulemd.ModuleIndexMerger into C"
Currently, most of the tests for the merge logic are run under Python. The valgrind tests for identifying memory leaks and errors can only run against tests in the C code. We need to replicate the python tests as C tests.

This would be a good task for a newcomer to the project. Look at the tests being run in [`modulemd/v2/tests/ModulemdTests/merger.py`](https://github.com/fedora-modularity/libmod

[2019-02-26 21:13] sgallagher opened #199 "Copy python tests for Modulemd.ModuleStream into C"
Currently, most of the tests for the ModuleStream objects are run under Python. The valgrind tests for identifying memory leaks and errors can only run against tests in the C code. We need to replicate the python tests as C tests.

This would be a good task for a newcomer to the project. Look at the tests being run in [`modulemd/v2/tests/ModulemdTests/modulestream.py`](https://github.com/fedora-mo

[2019-02-26 21:23] sgallagher commented on #96
Can you explain how OpenSUSE gets its initial package set without first rebuilding its source RPMs (or equivalent)? Do they just store all the SRPMs for each arch individually? In Fedora, we only keep one SRPM (from whichever arch randomly got picked for the BuildSRPMFromSCM step). We then rebuild it for each arch as part of the build step, to ensure we get the right dependencies. Every arch's sou

[2019-02-26 22:59] Conan-Kudo commented on #96
I think the difference here is that openSUSE actually uses the raw spec file to identify build dependencies. `obs-build` can evaluate macros and platform conditions against a spec file, and parses the spec file to identify the correct build dependencies to emit and resolve with. It's not too hard to implement the same thing using rpm, either. I did a variation of this [for a project on GitLab.com]

[2019-02-26 23:35] indigoOmega021 commented on #186
@sgallagher I am trying to wrap my head around what "various objects and variables" to check in the equals function. Should I just use all of the getter methods for the Modulemd.ModuleStream, Modulemd.ModuleStreamV1, and Modulemd.ModuleStreamV2 classes and check that every word that is returned is equal for both objects? Any advice would be appreciated.

[2019-02-26 23:38] sgallagher commented on #186
For those getters that return strings, yes. For getters that return other objects (integers, other GObject types, etc.), they need to have an appropriate comparison.

The comparison function needs to check every attribute that has a getter.

[2019-02-27 06:39] SunitiJain commented on #199
hi ! I want to start contributing in this project. Please guide me how to approach.
Thanks in advance.

[2019-02-27 06:43] SunitiJain commented on #197
HI! I want to start contribution in the project. Please guide me how to proceed.
Your help is appriciated.
Thanks

[2019-02-27 07:40] SunitiJain commented on #198
Hi! I am an outreachy applicant. Please guide me how to contribute.

[2019-02-27 12:47] sgallagher commented on #198
@SunitiJain Please see https://github.com/fedora-modularity/libmodulemd/blob/master/README.md#getting-started-with-developing for a basic introduction into developing libmodulemd.

[2019-02-27 13:02] athira-selvam commented on #192
Hi,
I did set up the development environment. I need some help. Is modulestream.py -  the file that I have to add the tests to?  I found some tests for `depends_on_stream()` and `build_depends_on_stream()` in that file. Just wanted confirmation before I proceed.

[2019-02-27 13:07] sgallagher commented on #192
Yes, those are the tests I meant. You can choose to write them in either the Python tests or into new C tests in [modulemd/v2/tests/test-modulemd-modulestream.c](https://github.com/fedora-modularity/libmodulemd/blob/master/modulemd/v2/tests/test-modulemd-modulestream.c) (related: #199)

[2019-02-27 15:30] ananyaarun commented on #191
@sgallagher , I am done with the setup environment and reading the documentation. I had a question , i see in readme that 2 repos are being used to load and merge the metadata (fedora and updates). Should i continue with the assumption of this ? Also Regarding point 3 and 4 , does query mean adding code to documentation that inputs and searches for a given module ?

[2019-02-27 15:44] sgallagher commented on #191
@ananyaarun For the purposes of this ticket, you can assume that you need to deal with only a single repo source.

Yes, what I mean is that the tutorial documentation should include source code examples of the exact commands that would be used to retrieve that information.

[2019-02-28 23:00] mariana-escobedo commented on #196
Hi Stephen, my name is Mariana, and I am an Outreach applicant this year and
I am interested in contributing to fix this issue.
I understand a new sub directory is needed containing travis-tasks.sh, and a Dockerfile. My only question is, where can I find the appropriate Dockerfile to include?

This is my very first time contributing, so I apologize in advance if it might be an obvious question.

[2019-03-01 13:13] OrionStar25 commented on #187
Can you please explain what this means?

[2019-03-01 15:34] sgallagher commented on #187
@OrionStar25 Sure! What it means is that for objects that are derived from other objects (such as the `Modulemd.DefaultsV1` object being derived from `Modulemd.Defaults`), it's best to have common code stored with the parent object.

In this case, it means that for attributes like "module_name", "mdversion" and "modified", the comparison should be done in a routine in `Modulemd.Defaults`, while co

[2019-03-01 16:33] OrionStar25 commented on #187
Thats enough to help me start! I'll open a PR soon

[2019-03-01 16:39] sgallagher commented on #196
So, there is no pre-existing Dockerfile. You're going to need to look at how we run the tests for the other distributions (Fedora and CentOS) and construct a Dockerfile for use with OpenSUSE Tumbleweed.

@Conan-Kudo has offered to help you figure out what packages you will need there, so if you need specifics, please post your questions on this issue while @mentioning him (Typing his username with

[2019-03-02 00:06] johnsanc commented on #195
Hello,
I am an Outreachy candidate and would like to work on this issue!

[2019-03-02 10:29] susiejojo commented on #196
Hello, my name is Dipanwita. I am an Outreachy applicant and am interested in contributing to this project. But I am facing similar difficulty as @mariana-escobedo and would like some help from @sgallagher and @Conan-Kudo in constructing the Dockerfile. Thanks in advance.

[2019-03-02 23:04] Madhumitha commented on #198
Can I work on this issue? I'm an outreachy applicant.

[2019-03-03 05:42] swagatikapanda123 commented on #199
hello!! my name is swagatika . I am facing trouble in how to find an issue in the project. could you please guide me how to find an issue..

[2019-03-03 21:14] vatsalanarang opened #207 "ninja: error: loading 'build.ninja': No such file or directory"
I have ninja version 1.8.2 in my fedora environment.@sgallagher could you please tell me which ninja version this project is using.

[2019-03-04 17:38] Conan-Kudo commented on #101
In a F2F meeting, @ignatenkobrain has agreed to try to convince libsolv upstream to allow a libyaml dependency to support the native metadata format, which should obsolete the need for this.

[2019-03-04 17:38] #101 closed

[2019-03-04 17:38] sgallagher commented on #55
We're going to reopen this issue as a result of conversations at today's hackfest in Boston. We will add a new section under artifacts linking the NEVRAs to one or more hashes. The format will be discussed a bit later.

[2019-03-04 17:45] mariana-escobedo commented on #196
@Conan-Kudo Thank you for volunteering your help! I looked over the .tmpl and deps.tmpl files in both fedora and CentOS folders and I can see a general template to use. Where can I find the specific packages to include?
If you have a preferred way of messaging please let me know as I am willing to work in a way thats convenient to you.

[2019-03-04 19:26] Conan-Kudo opened #208 "RFE: Support directly reading in compressed yaml streams (gzip, bz2, xz, zck,...)"
In most cases, the module metadata is stored in a compressed form (with some kind of compression algorithm like gzip, bz2, xz, zck, etc.). As far as libmodulemd is concerned, it can't deal with these files directly.

It would be nice to be able to handle these files directly. This is likely better as a new function as to not break API expectations or ABI.

[2019-03-05 20:05] ignatenkobrain commented on #95
I think we've pretty much agreed today on F2F meeting that libmodulemd will just add field and MBS will have to find all artifacts built by component and translate it to the filter list.

[2019-03-05 20:16] #189 closed

[2019-03-05 21:31] sgallagher opened #209 "Add support for removing modules from the ModuleIndex"
When dealing with repository creation, we need to be able to remove entire modules from the Index.

[2019-03-05 21:32] ignatenkobrain commented on #209
Not necessarily :) for example, there are no "remove" methods in libsolv :D

[2019-03-05 21:34] sgallagher commented on #209
We are talking about repo creation, not libsolv actions. Specifically, if I want to merge two repos, I may want to explicitly exclude a module that I know conflicts.

[2019-03-06 14:39] sgallagher opened #212 "libmodulemd 2.x doesn't handle repodata where there are multiple stream documents for separate arches of the same NSVC"
This may require a major-version soname bump. Try to avoid this if at all possible.

[2019-03-06 18:09] ignatenkobrain commented on #55
[code]

This is my current proposal. We technically do not need name/evr/arch in there, but it won't hurt to have it there so it is easier to read and do some queries if needed.

[2019-03-06 19:16] sgallagher commented on #55
I discussed this at length with @ignatenkobrain and @Conan-Kudo in #fedora-modularity on Freenode today. I think I'd like to counter-propose:
[code]

So the effect would be that data.artifacts.rpm-map would be a YAML map keyed on a checksum. Its value would be a set of mandatory arguments comprising the hash algorithm of the checksum as well as the exploded and unexploded versions of the RPM NEVRA

[2019-03-06 22:41] hafsasam commented on #194
Hello ! I am an Outreachy applicant. Can I work on this issue ?

[2019-03-07 00:13] ignatenkobrain commented on #55
I would prefer if this won't be there. It is totally useless since it is duplicating all information and also has this `0:` prefix which you have to strip out anyway if you want to do anything meaningful.

I would rather call it a `type`.. Because essentially it is a checksum type.

Since the sha-256 and sha3-256 are same size but mean different things, there is a chance that there will be collisi

[2019-03-07 09:27] NishkaDG commented on #194
@hafsasam I am already working on this :)

[2019-03-07 14:18] sgallagher commented on #55
It is duplicating the information, but it's easier for a human or a program to match directly to the content in the `data.artifacts.rpms` section if they need to. I can be convinced otherwise, but I would find that very convenient for searching a long YAML at least.

Can we compromise on `checksum_type`? I want it to be clear.

sha-256 can collide with itself too... but it's extremely unlikely.

[2019-03-07 14:24] Conan-Kudo commented on #55
I'm okay with compromising with `checksum_type`. However, I'd rather keep the `nevra` property, as it makes identifying and matching very cheap.

[2019-03-07 14:27] ignatenkobrain commented on #55
I agree, but please **do not put `0:` epoch in there**. Every tooling will have to strip it out.

[2019-03-07 14:27] ignatenkobrain commented on #55
metoo.

[2019-03-07 14:28] Conan-Kudo commented on #55
No, because most tools that are doing pure matching (like some of mine) will need it there, since the metadata format universally puts the `0` even with null epoch.

[2019-03-07 14:45] sgallagher commented on #55
@ignatenkobrain You've already asserted that you don't need this field, so arguing over its format seems like a waste of time. Anyone who doesn't need the 0 in there can always (easily) construct the format they want from the other attributes. It's much easier to construct it than to parse it. This is just a convenience function for anyone who wants to do an exact-match comparison.

[2019-03-07 15:03] sgallagher commented on #95
Yes, during the recent Modularity Hackfest, this was discussed. I think what we will want to do is add a new optional attribute to the `data.components.rpms` section like:
[code]

The `buildonly` attribute would default to `False` if unspecified. The expected behavior on the build-system side would be to identify any subpackages produced by `buildonly: True` components and automatically add them t

[2019-03-07 15:49] sgallagher opened #214 "Provide Modulemd.Buildopts.equals() method"
In order to implement #186, we need an equality check for `Modulemd.Buildopts`. It should compare the `rpm_macros` string and the `whitelist` hash table.

[2019-03-07 15:52] sgallagher opened #215 "Provide Modulemd.Component.equals() method"
Implement an equality check for `Modulemd.Component` objects (and their child-classes, `Modulemd.ComponentModule` and `Modulemd.ComponentRpm`). This is necessary to implement #186.

[2019-03-07 15:54] sgallagher opened #216 "Provide Modulemd.Dependencies.equals() method"
In order to implement #186, we need to be able to compare two `Modulemd.Dependencies` objects for equality.

[2019-03-07 15:55] sgallagher opened #217 "Provide Modulemd.Profile.equals() method"
In order to implement #186, we need to have an equality function for `Modulemd.Profile` objects.

[2019-03-07 15:56] sgallagher opened #218 "Provide Modulemd.ServiceLevel.equals() method"
In order to implement #186, we need to have an equality function for `Modulemd.ServiceLevel` objects.

[2019-03-07 15:59] sgallagher commented on #186
@indigoOmega021 OK, I should have broken this task up a lot more when I initially created it. I've now created issues #214 #215 #216 #217 and #218 to track the individual objects underneath this one that need their own comparisons.

I'd recommend picking one of those and working on that first and setting this one aside for now. Sorry for not realizing this sooner.

[2019-03-07 16:12] ignatenkobrain commented on #95
`true` should be lower case as per yaml's boolean type.

[2019-03-07 16:17] sgallagher commented on #95
Sorry, was writing some python and it bled through. I'll edit the above message to correct that.

[2019-03-07 19:14] sgallagher commented on #212
The current behavior here is as follows: while processing through the YAML, we add each stream seen for a given module one at a time to a GPtrArray internally. In the current code, the `modulemd_module_add_stream()` function checks whether the NSVC has been seen before and if it is, it drops the previously-seen one and adds the new one. The correct behavior here would be for us to check for the sa

[2019-03-07 19:27] Conan-Kudo commented on #212
I'd err on the side of caution and throw errors instead. Let's not allow "surprises" in the metadata generation. :)

[2019-03-07 19:33] sgallagher commented on #212
Yeah, I'm continuing to lean in that direction. The `modulemd_module_add_stream()` does have a `GError` return, so any consumer *should* be prepared to deal with errors here.

[2019-03-08 11:46] Conan-Kudo commented on #212
With regards to `modulemd_module_get_stream_by_NSVC` and `modulemd_module_stream_get_nsvc_as_string`, we should just go ahead and deprecate them. I suspect if we made the latter function return NSVCA, bad things might happen due to the mismatch of expectations, and given the low usage of these functions, it's just better off to fix the problem with new functions.

[2019-03-08 13:39] sgallagher commented on #55
Adding @contyk @hanzz and @mprahl

[2019-03-08 15:17] OrionStar25 commented on #214
I'll work on this!

[2019-03-08 18:41] indigoOmega021 commented on #215
Could I please be assigned this issue?

[2019-03-08 18:43] sgallagher commented on #215
@indigoOmega021 Done.

Be aware that this one is slightly more complicated than the Profile or Buildopts one, as the equals() method needs to be added to the parent class and implemented in both child classes.

Good luck! Let me know if you need any help.

[2019-03-08 19:01] #190 closed

[2019-03-09 07:52] divyabaid16 commented on #218
Could I please be assigned this issue?

[2019-03-11 13:16] contyk commented on #55
I think @dmach has a point in those old comments.
I would like to have a solution to that problem before we decide on the actual format. modulemd is generated by MBS at build time and not all modules go through the compose process. Signing happens after the module build. How do we address that?

[2019-03-11 13:24] contyk commented on #96
Just so that we have it written somewhere...

We discussed the `buildafter` and the bootstrap mechanism at our hackfest last week and I think we could solve both of these use cases with adding just two keywords under the component name:

* `buildafter`, which specifies the key of the component that needs to be built before this one; the document must use either `buildafter` or `buildorder`, not bo

[2019-03-11 13:25] contyk commented on #95
+1 to the proposal.

[2019-03-11 19:42] #212 closed

[2019-03-11 19:49] sgallagher commented on #218
Go ahead! Sorry, I missed the notification of this.

[2019-03-12 02:33] AarushiSingh09 commented on #216
Hello!
Can I work on this issue?

[2019-03-12 11:58] sgallagher commented on #207
This message indicates that you didn't execute `ninja` in a directory created by `meson`.

Please follow the instructions at https://github.com/fedora-modularity/libmodulemd/blob/master/README.md#building-the-sources

[2019-03-12 11:58] #207 closed

[2019-03-12 12:07] AarushiSingh09 commented on #198
Can you please assign me this issue. I have tried to make some updates. I am outreachy applicant.

[2019-03-12 12:19] hanzz commented on #96
Will also write summary of discussion we had about this topics on Friday:

- The `buildafter` as proposed here is not an issue for MBS. My plan so far is that we will *not* convert it to `buildorder` internally in MBS, but instead will really keep that buildafter info in MBS DB and use it to build components in right order. That means no more "batches" as we currently know them when buildorder is

[2019-03-12 12:23] sgallagher commented on #96
:+1:

Do you mean you'd prefer to drop `buildorder` entirely or you just want to be certain that you don't have a mixture of the two? If the latter, I can encode that into the `.validate()` routines in libmodulemd so that you will only have one or the other within a particular YAML document.

I agree. The biggest issue I see is the possibility of having duplicate NEVRAs from the output. We may nee

[2019-03-12 12:44] hanzz commented on #96
@sgallagher, I meant what @contyk wrote: `the document must use either buildafter or buildorder, not both`.

[2019-03-12 12:46] sgallagher commented on #96
OK, so I think we have consensus then that @contyk 's proposal for both `buildafter` and `name` makes sense, so I'll go ahead and getthat implemented in libmodulemd 2.2.0.

Thanks!

[2019-03-12 12:50] sgallagher commented on #95
OK, this looks like it's accepted, so I'll add this to libmodulemd 2.2.0

[2019-03-12 13:36] sgallagher commented on #96
Hmm, hang on. There is one problem with the proposed implementation above. I'm pretty sure we need to be able to indicate more than one dependency. So instead of `buildafter: foo`, I think we need:

[code]
Changing the buildafter value to a list instead of a single item. @contyk, @hanzz do you agree?

[2019-03-12 13:47] ignatenkobrain commented on #96
oh right, fully agree!

[2019-03-12 13:53] sgallagher commented on #96
@contyk Regarding `name` vs. `key`, do we need to support this for all component types or just RPMs? I can make this change for just RPMs (or RPMs and modules) in the child class, but if we think we need to support it in all possible component types going forwards, it belongs in the parent class and would be an ABI break :(

[2019-03-12 18:44] sgallagher commented on #96
@contyk Another question on `name` vs `key`: If someone sets the name to be the same as the key (in the API), should we suppress the `name` field? I think the output is less confusing that way.

[2019-03-13 05:34] athira-selvam commented on #199
Is @swagatikapanda123 working on this?
@sgallagher  Shall I try to copy some more functions from python to C?

[2019-03-13 20:47] Lashuk1729 commented on #195
Hello, I would like to ask, about the repository in travis-mageia.sh file. I'm having a issue finding the repository for mageia. I would appreciate it, if some information is given about it.

[2019-03-13 20:53] sgallagher commented on #195
@Lashuk1729 If you cannot find a distro-specific repository, it's fine to use registry.docker.com

[2019-03-13 20:54] NishkaDG commented on #197
May I work on this issue?

[2019-03-13 21:04] sgallagher commented on #197
@SunitiJain, I apologize. I missed this request. If you're still interested, I won't stop you, but @NishkaDG has already done one of these for openSUSE, so you may be facing competition.

It's fine if you both want to submit an attempt at this.

[2019-03-13 21:13] Lashuk1729 commented on #195
@sgallagher, thanks for the reply.

[2019-03-15 10:25] athira-selvam commented on #199
Hi,
Is anyone working on this Issue?

[2019-03-15 12:05] OrionStar25 commented on #218
I'll work on this if its @divyabaid16 isn't working on this?

[2019-03-15 17:49] #192 closed

[2019-03-15 18:14] swagatikapanda123 commented on #199
yes !!

[2019-03-16 04:30] athira-selvam commented on #216
@AarushiSingh09 Are you working on this?

[2019-03-16 04:40] athira-selvam commented on #198
Is anyone working on this issue?

[2019-03-16 04:41] AarushiSingh09 commented on #198
I am working on this issue.

On Sat, Mar 16, 2019, 10:10 AM athira-selvam <notifications@github.com>
wrote:

[2019-03-16 06:53] athira-selvam commented on #188
Hi @irenge are you working on this issue?

[2019-03-16 11:59] irenge commented on #188
haha ! I thought the issue was closed . I am going back to it . R u interested in it ?

[2019-03-16 13:06] sgallagher commented on #188
This isn't eligible to be worked on until #186 is merged. That issue needs to be resolved first.

[2019-03-16 13:14] athira-selvam commented on #188
@sgallagher Hi, All beginner issues have been claimed. Is it okay to work on those issues? I have already copied tests for the depends_on_stream function to C. And I added a test for an empty stream. But that was in python. Can I work on copying that test to C and also copying some more functions from modulestream.py to C?
Can I work on -  [199](https://github.com/fedora-modularity/libmodulemd/iss

[2019-03-16 13:24] sgallagher commented on #188
@athira-selvam If there isn't a specific issue available (and I don't have a spare moment today to try to come up with some new ones), my recommendation would be to look through the existing tests in the `v2` subdirectory, look at some edge-cases that aren't exercised there and submit some new tests.

[2019-03-16 20:53] Victory17 commented on #216
Hi, I am an Outreachy participant for this round. Can I take up this issue, in case nobody is working on it?

[2019-03-16 21:02] Victory17 commented on #195
Hi, is this issue already being worked on? If not I would like to take it up.
I am an Outreachy applicant for this round.

[2019-03-16 21:33] Lashuk1729 commented on #195
@Victory17, I'm already working on this!

[2019-03-17 19:47] NishkaDG commented on #208
May I work on this?

[2019-03-17 19:48] sgallagher commented on #208
If you want to prepare a proposal for how to implement this, go ahead. Please don’t start writing any code; it’s a big task and needs significant design work first.

[2019-03-18 11:10] SunitiJain commented on #197
Yes I want to work on this issue.
On Thu, Mar 14, 2019, 2:34 AM Stephen Gallagher <notifications@github.com>
wrote:

[2019-03-18 11:29] SunitiJain commented on #198
Thanks .

On Wed, Feb 27, 2019, 6:17 PM Stephen Gallagher <notifications@github.com>
wrote:

[2019-03-18 17:34] #187 closed

[2019-03-18 19:04] sgallagher opened #243 "Eliminate typecasting warning for modulemd_hash_table_equals()"
https://github.com/fedora-modularity/libmodulemd/pull/213 introduced a warning when passing `modulemd_hash_table_sets_are_equal()` as an argument to `modulemd_hash_table_equals()` because the latter expects a `(void *, void *)` argument and `modulemd_hash_table_sets_are_equal()` accepts `(GHashTable *, GHashTable *).

The solution here is to add a new function to wrap `modulemd_hash_table_sets_are

[2019-03-18 19:08] #218 closed

[2019-03-19 11:48] sgallagher commented on #55
Sorry, I replied to this on a conference call and forgot to reply on the issue. We don't actually need to decide the process before the format. As long as we agree that the metadata in theI think @dmach has a point in those old comments.
I would like to have a solution to that problem before we decide on the actual format. modulemd is generated by MBS at build time and not all modules go through t

[2019-03-19 11:54] hanzz commented on #55
Storing that in CG build generated by MBS is really not possible. Before saying why, let me point of few facts about module builds related to this topic:

1) Once MBS moves module build to "done" state, it needs to generate CG build with modulemd metadata so we can actually create "some" compose with module so CI can test it and gate it to "ready" state.
2) Once the CG build is created, it cannot

[2019-03-19 12:26] #217 closed

[2019-03-19 14:55] OrionStar25 commented on #243
What should I name the function and what file should I put it in?

[2019-03-19 15:01] yashpupneja commented on #216
Hi I am an Outreachy participant . Can I work on this issue?

[2019-03-19 15:04] AarushiSingh09 commented on #216
Yes I am working on this issue.

On Sat, Mar 16, 2019, 10:00 AM athira-selvam <notifications@github.com>
wrote:

[2019-03-19 18:12] #214 closed

[2019-03-20 11:57] #243 closed

[2019-03-20 16:34] #96 closed

[2019-03-20 16:40] #209 closed

[2019-03-20 18:09] OrionStar25 commented on #215
@indigoOmega021 are you currently working on this?

[2019-03-20 20:01] contyk commented on #55
So we talked about this a little today. I don't have a strong opinion on the format, although I'd prefer having per-algorithm sections under `rpm-map`, e.g.

[code]

This is a little more forgiving in case there's a checksum collision when using multiple algorithms, although collisions in general are still possible. In both cases the chances of that happening are incredibly small. I'm not sure wha

[2019-03-21 06:47] yashpupneja commented on #198
@sgallagher I am Outreachy applicant and I have already started working on this issue . Can this issued be assigned to me as well?

[2019-03-21 12:37] sgallagher commented on #55
Also, to record this from the conversation: in the unlikely event of two checksums colliding for different data, we will treat this as an error. The workaround should be as simple as a bump-and-rebuild of the offending RPM.

[2019-03-21 13:19] sgallagher commented on #55
So, I spoke with @ignatenkobrain this morning via IRC and he also recommends Petr's counter-proposal, so I'm going to go with that. For the record:

[code]
Also, libmodulemd will expressly *not* validate the format of the digest type. It will assume that the tools used to populate this section have written the correct format to match repomd. This is to ensure that we don't break future-compatibili

[2019-03-21 13:21] indigoOmega021 commented on #215
@OrionStar25 yes.

[2019-03-22 19:06] sgallagher commented on #55
I just discovered a potential problem here. There was a few places I missed in the [changes to make libmodulemd ignore unknown keys](https://github.com/fedora-modularity/libmodulemd/commit/282d9ec48bae1b5e1a660eeba18f9739d3d97700)

One such place, unfortunately, is the keys underneath the `artifacts`. So right now, the libmodulemd shipped in RHEL 8 Beta will choke if the `rpm-map` key appears in t

[2019-03-22 19:11] sgallagher commented on #55
Hang on, I think I may have been mistaken about this. My tests all run in "strict" mode so I notice unexpected keys, but it looks like this case is actually properly ignored when run in non-strict mode. Sorry for the false alarm.

[2019-03-23 11:43] #95 closed

[2019-03-24 23:49] #191 closed

[2019-03-25 11:03] #55 closed

[2019-03-26 10:45] #216 closed

[2019-03-26 11:26] sgallagher commented on #196
This was merged in https://github.com/fedora-modularity/libmodulemd/pull/220

[2019-03-26 11:26] #196 closed

[2019-03-27 04:41] athira-selvam commented on #197
HI , Is anyone working on this?

[2019-03-27 04:44] athira-selvam commented on #195
@Lashuk1729 are you working on this?

[2019-03-27 13:26] NishkaDG commented on #197
Hello, I'm still working on this.

[2019-03-28 08:51] larchunix opened #257 "libmodulemd-2.2.2 fails to build in environments without python2"
Greetings,

Since b86732a, libmodulemd fails to build in environments without python2:

[code]

Installing python2 in the build environment "solves" the issue.

Regards,

[2019-03-28 10:11] sgallagher commented on #257
It is required in order for the build to produce a GObject Introspection Override file for use with Python 2 bindings.

I can look into making this non-fatal, however, and just warn that the python 2 overrides will be unavailable.

[2019-03-28 10:26] larchunix commented on #257
That would be great since python2 is reaching EOL next year.

[2019-03-28 12:16] sgallagher commented on #257
I'm aware of that, but libmodulemd also needs to work with RHEL 7, which is python2-only and has support until at least June 2024.

What I will probably do is add a config option for `-Dpy2_override_path=<path>` and `-Dpy3_override_path=<path>`. If `-Dpy2_override_path=<path>` is specified, the dependency on python2 will be skipped.

[2019-03-28 14:30] sgallagher commented on #257
I changed my mind. It doesn't make any sense to add the `pyN_override_path` arguments. I will just modify the `pymod.find_installation()` call to be non-fatal if `-Dwith_py2_overrides` was passed.

[2019-03-28 14:31] sgallagher commented on #257
@larchunix Would you mind reviewing #258 for me?

[2019-03-28 20:39] #257 closed

[2019-04-01 19:29] sgallagher commented on #208
OK, looks like I'm going to need to implement at least part of this to work with `createrepo_c`/`mergerepo_c`.

What I plan to do is add a new function, `modulemd_module_index_update_from_custom()` that will take a function pointer to a custom `read()` function of the type [`yaml_read_handler_t`](https://github.com/yaml/libyaml/blob/master/include/yaml.h#L970) that will be passed directly to [`yam

[2019-04-02 00:43] Conan-Kudo commented on #208
Honestly, the reason I think it should have it is because it is often the preferred way to store the metadata because it is huge otherwise.

If you don't think this is an issue, then I guess it isn't needed...

[2019-04-02 12:02] sgallagher commented on #208
@Conan-Kudo I think I'd prefer to avoid adding all of the codec dependencies to libmodulemd itself, to keep things neat. That said, maybe we could look into adding a helper library (libmodulemd-codecs?) that a consumer could optionally link against.

The thing is, I suspect that the majority of consumers will need to have their own logic for accessing compressed content and it would be best in gen

[2019-04-02 12:04] Conan-Kudo commented on #208
@sgallagher I think an extra library that offers those supplementary functions is fine, but that would make things complicated for bindings, wouldn't it?

Also note that modules are going to be zck-compressed in Fedora with Fedora 30 onward.

[2019-04-02 12:09] sgallagher commented on #208
Right, the `xz` was meant to be an example. I'm not sure it would be too difficult for bindings. Instead of `index.update_from_file('filename')`, they'd have to call `ModulemdCodec.update_from_zck_file(index, 'filename')`. This could even be simplified in the GObject overrides to make it part of the `ModulemdIndex` object if we really wanted to.

But maybe it *would* be better to just have it be p

[2019-04-02 13:00] #215 closed

[2019-04-02 13:19] ignatenkobrain opened #262 "Support GInputStream for loading yaml"
It should be cleaner solution than reimplementing these parts.

[2019-04-02 19:18] OrionStar25 commented on #186
@sgallagher can I please work on this now?

[2019-04-02 19:19] sgallagher commented on #186
Go ahead!

[2019-04-03 01:54] kloczek opened #264 "dnf without modules support"
Is it possible to build dnf without modules support?

[2019-04-03 01:57] sgallagher commented on #264
This is the wrong place to ask that question. Try the DNF project.

That said, while you might be able to build it without module support, the result would simply not work properly with any repo combination that includes module metadata, so why exactly would you want to?

[2019-04-03 01:57] #264 closed

[2019-04-18 06:17] voxik opened #269 "Redefine default branch for ref:"
The `ref:` [[1]] is defined as follows:

[code]

However to choose "master" as a default is completely wrong. This does not work and this does not work especially in RHEL, where there are used maintenance branches. Let me explain.

In RHEL, it is quite common to maintain version specific branches, e.g. rhel-8.0.0, rhel-8.1.0, etc. Lets say I have module `foo`, which refers to some other module, e.

[2019-04-18 08:07] voxik commented on #269
Actually, there rule should be simpler. Whatever the name of the branch is in module repository, the same branch must be used for the referred components. If there is not branch like this for the specified component, then master is used.

[2019-04-22 12:13] sgallagher commented on #269
@voxik: Could you please move this to the [MBS tracker](https://pagure.io/fm-orchestrator/) instead of the libmodulemd one? I realize that we keep the specification here, but libmodulemd doesn't actually do anything with the `ref` field directly, other than to confirm that it's a scalar value (and not a list or map). How it is interpreted for builds is done entirely on the MBS side. It seems like

[2019-04-22 19:32] sgallagher opened #270 "Use foreach and string templating for test creation"
Right now, we create multiple test executables manually in `meson.build` for the `release` and `debug` test configurations. To reduce this duplication, we should switch to containing the tests within a `foreach` loop that generates and runs the tests for each configuration.

This will also make it easier in the future if we want to run the tests against additional configurations.

[2019-04-23 06:01] voxik commented on #269
Done:

https://pagure.io/fm-orchestrator/issue/1226

I think we should still keep this open to update the specification.

[2019-04-24 13:56] mprahl commented on #269
@sgallagher and @voxik, an alternative is to change the ref based on the buildrequired platform. One option could be to have the ability to use "variables" in the modulemd spec. For instance, based on the example in the initial post, the syntax could be something like:
[code]

Then MBS would perform the replacement at submission time. The problem is that the ref would be `stream-foo-el8.1.0` inste

[2019-04-25 09:28] voxik commented on #269
Please no. Instead of on convention, which helps to understand the relation between the module and component from both directions, you are adding one more degree of freedom. That is not what I want.

Moreover, it does not fix my initial concern, that is to avoid the need of module modification due to versioned branches.

[2019-04-25 09:35] voxik commented on #269
And really, if you check \[[1]\], you could see that the freedom which is currently given by the ref is actually big design flaw, because it makes things nontransparent and in the end even less flexible (as I mentioned here \[[2]\]), because you basically consider just the scenario that one module refers to N components, but you don't consider the scenario where one component is referenced by N mo

[2019-04-25 13:34] mprahl commented on #269
@voxik, adding this capability in MBS is not difficult, but Release Engineering would have to determine if this is the desired work flow. That is not something I control. If Release Engineering decides this is the path to take, we can prioritize this change accordingly.

[2019-04-30 03:15] Conan-Kudo commented on #264
@kloczek Please see https://github.com/rpm-software-management/libdnf/issues/641 for the RFE on building DNF without modularity support.

[2019-04-30 22:02] mprahl opened #273 "Modulemd.ModuleStream.read_string does not accept None for optional arguments"
`Modulemd.ModuleStream.read_string` has two optional arguments, `module_name` and `module_stream`. When interfacing with them in Python, `None` values are not allowed. Empty strings do work however. Here is the reproducer:

[code]

This causes the following traceback:
[code]

[2019-04-30 22:33] mprahl opened #274 "get_xmd causes an assertion error when called twice"
When using `get_xmd` on a modulemd file from Python twice in a row, an assertion error is raised and it causes Python to crash. Here is the reproducer:
[code]

Here is the output when I run the reproducer:
[code]

[2019-04-30 22:36] mprahl opened #275 "Modulemd files with unicode characters fail to load from Python"
When I try to load a modulemd file with a unicode character (`’`), it causes a parser error.

Here is the reproducer:
[code]

Here is the output:
[code]

[2019-05-01 00:19] sgallagher commented on #273
The problem here is that you are actually missing the `strict` argument, which is non-nullable. You probably want to do `Modulemd.ModuleStream.read_string(mmd_str, False, None, None)` here. (`Modulemd.ModuleStream.read_string(mmd_str, False)` will also work.

[2019-05-01 00:19] #273 closed

[2019-05-01 00:20] sgallagher commented on #273
Actually, for MBS we probably want to have `True` there. We want `False` for DNF to be more tolerant, but on the packager side I think it makes sense to reject unknown values.

[2019-05-01 00:45] mprahl commented on #273
Thanks @sgallagher. I fixed the documentation example in #276.

[2019-05-01 00:47] sgallagher commented on #275
This took a while to figure out, but the reason this is failing is that `request` is inferring this to be encoded as `ISO-8859-2`. You need to do:

[code]

[2019-05-01 00:47] #275 closed

[2019-05-01 02:59] sgallagher commented on #274
@mprahl I think I've got this figured out. I'm scratch-building a patched version at https://koji.fedoraproject.org/koji/taskinfo?taskID=34555011 for F29.

If you could pull that and verify that it resolves things for you (and unblocks you), I'd appreciate it.

[2019-05-01 12:11] sgallagher commented on #274
@mprahl That scratch-build was missing one of the test data files. https://koji.fedoraproject.org/koji/taskinfo?taskID=34558963 should work properly.

[2019-05-01 15:36] mprahl commented on #274
@sgallagher the scratch build works as expected. Thanks!

[2019-05-01 15:37] #274 closed

[2019-05-01 22:41] mprahl opened #279 "Allow setting the RPM component repository and cache to `None` from Python"
MBS requires nulling out certain values before the modulemd can be distributed to other tooling. Some of these values include the RPM component repository and cache. This is currently not allowed in Python.

Here is a reproducer:
[code]

The output is:
[code]

[2019-05-02 01:41] #279 closed

[2019-05-06 21:03] mprahl opened #284 "A critical log entry is shown when creating a Profile object from Python"
When creating a Profile object from Python, a critical log entry is shown. It seems to work regardless, but I'd like your opinion if this is normal. My preference would be for this log entry to not be shown if it's deemed safe to ignore.

Here is the reproducer:
[code]

Here is the output:
[code]

[2019-05-07 00:29] mprahl commented on #284
I see that there is no `set_name` method on a `Profile` object, so it seems the proper way to do this is `Modulemd.Profile.new(profile_name)`. In version 1, the following worked `profile = Modulemd.Profile(); profile.set_name(profile_name)`. I'll close this, but feel free to reopen it if the old way should be supported.

[2019-05-07 00:35] sgallagher commented on #284
No, this is mostly intentional, though I *thought* it was supposed to throw an exception indicating that required options were not passed to the constructor. The fact that it's returning an object with no name is unexpected.

The Profile needs to have an immutable understanding of what it's name is for a variety of reasons (mostly so that when it's added to a ModuleStream, it's always keyed proper

[2019-05-07 02:44] mprahl opened #286 "Add the ability to remove entries from the dependencies array"
MBS currently uses libmodulemd v1. As part of module stream expansion, MBS creates a copy of the source `Module` object, and runs `set_dependencies((new_dep, ))` with the resulting dependency combination. This is repeated for every dependency combination.

In other parts of the code, MBS also modifies the dependency objects directly with things such as `deps.set_requires(expanded)`.

As part of th

[2019-05-07 03:11] sgallagher commented on #286
Scratch-build with the referenced PR applied: https://koji.fedoraproject.org/koji/taskinfo?taskID=34693382

[2019-05-07 05:16] ignatenkobrain opened #288 "RFE: add flags to include packages in (srpm-)buildroot"
Imagine that I have 2 components, `rust-srpm-macros` which defines `%{rust_arches}` and `rust` which is using it in `ExclusiveArch`. The former one has to be in srpm-buildroot in order for latter to build. That means, at this point I have only option to use 2 module (rust and rust-bootstrap).. But rust needs its own bootstrapping, so I would need to have 3 modules.

Having something like:

[code]

[2019-05-07 05:17] ignatenkobrain commented on #288
As discussed with @contyk in a pub :)

[2019-05-07 20:32] #286 closed

[2019-05-08 07:41] ignatenkobrain commented on #288
@mprahl @jkaluza how hard would this be to implement in MBS?

[2019-05-08 21:07] mprahl opened #290 "Can't dump a module to string when xmd contains a populated list from Python"
From Python, if a modulemd has an `xmd` that contains a populated list (empty lists work), it can't be dumped to a string.

Here is the reproducer:
[code]

The output is:
[code]

[2019-05-09 14:26] mprahl commented on #288
@ignatenkobrain this shouldn't be too hard in MBS. If this becomes part of the libmodulemd spec, we can support it in MBS.

Adding @lcarva for visibility.

[2019-05-09 14:29] mprahl commented on #288
@ignatenkobrain I noticed that in your example that you use `buildafter`. Would this feature still be useful to you even without `buildafter`? I ask because supporting `buildafter` is a lot more work, and the earliest we'll be able to work on that is in June (likely later).

[2019-05-10 18:13] sgallagher commented on #290
Scratch-build containing all patches since 2.3.1 for Fedora 29
 https://koji.fedoraproject.org/koji/taskinfo?taskID=34769645

[2019-05-10 18:36] sgallagher opened #292 "XMD dictionary keys are not emitted in a predictable order"
Currently, we just iterate through the dictionaries with `g_variant_iter_next()`, but this means that the keys may be output in different orders on different runs. For consistency, we should sort the keys and emit them the same way we do for GHashTables.

[2019-05-10 19:05] sgallagher commented on #290
Previous scratch-build failed because I forgot to push some test files into the patch.

https://koji.fedoraproject.org/koji/taskinfo?taskID=34770448 should work now.

[2019-05-10 20:12] puiterwijk opened #293 "Make Fedora Infra builds"
Please make Fedora Infra EPEL7 builds for use in MBS for @mprahl.

SOP on doing this: https://fedora-infra-docs.readthedocs.io/en/latest/sysadmin-guide/sops/infra-repo.html

[2019-05-13 12:12] sgallagher commented on #284
OK, I remember why this happens now. The GObject format doesn't allow constructors to fail, so I still have to return the object. The closest I can get to an exception is that `libmodulemd-CRITICAL` message (which would would `assert()` if running in developer mode by passing the `G_DEBUG='fatal-warnings,fatal-criticals'` environment variable.)

This isn't really fixable, unfortunately. The best m

[2019-05-13 12:12] #284 closed

[2019-05-13 12:28] #290 closed

[2019-05-13 14:34] sgallagher commented on #293
I've submitted 2.4.0 as https://koji.fedoraproject.org/koji/taskinfo?taskID=34833267

It should make its way to epel7-infra-stg once the tagging is complete.

@mprahl Can we divide the duties here? If I submit to staging, can you be responsible for doing `koji move epel7-infra-stg epel7-infra NVR` once you confirm it works?

[2019-05-13 15:48] mprahl commented on #293
@sgallagher sounds good to me. Are there other services in Fedora Infra that use libmodulemd (e.g. Pungi)? I would want to coordinate with the SMEs of those services before releasing an update.

[2019-05-13 16:16] sgallagher commented on #293
@mprahl Pungi is currently still on libmodulemd 1.x (as is DNF), so I think we're fine.

[2019-05-13 20:00] sgallagher opened #294 "Add .clear_*() functions for any attribute that has a .add_*() function"
There are many places where the v2 API hides an internal hash table by using a `.add_*()` / `.get_*_names()` convention. However, it turns out that MBS sometimes needs to override content that is in a pre-existing modulemd file. To make it easier, libmodulemd should provide a `.clear_*()` function for all of these cases.

CC @mprahl @hanzz for awareness

[2019-05-14 14:38] sgallagher commented on #293
OK, I pushed private branches `epel-libmodulemd1` and `epel-libmodulemd2` to the libmodulemd dist-git repo in Fedora. Those branches each include a `./build-infra.sh` that will build for the staging tags, so I think I can close this ticket.

[2019-05-14 14:38] #293 closed

[2019-05-15 04:09] ignatenkobrain opened #296 "RFE: add a way to set koji settings"
I'm thinking about doing RPM:4.15 module which supports dynamic BuildRequires. However, that needs to be turned on in mock config.

It would be very good if I could set it in modulemd and MBS could use it.

@contyk @mprahl @hanzz

[2019-05-15 12:14] sgallagher commented on #296
@ignatenkobrain Can you be more explicit about what you need? I don't know what "that needs to be turned on in mock config" means from a technical standpoint.

[2019-05-15 12:15] ignatenkobrain commented on #296
@sgallagher I need to set some settings for koji target (`dynamic_buildrequires=True`) which is used by mock.

[2019-05-15 12:45] sgallagher commented on #296
@ignatenkobrain And that's not something that can be handled by the `data.buildopts.rpm_macros`, I presume?

Given that this is *specifically* a build-system peculiarity, I'm not sure I'd want to encode this in the formal libmodulemd specification. @mprahl @hanzz could we just define a section in the `xmd` area for such things and have MBS check for it?

e.g.:
[code]

[2019-05-16 14:06] sgallagher opened #297 "Add Module.search_streams()"
Add a new function for retrieving `ModuleStream` objects from a `Modulemd.Module` object.

It should accept optional values for module name, stream name, version, context and architecture and return a list of any streams that match.

[2019-05-16 15:22] sgallagher commented on #297
This function should also form the underlying implementation for `Module.get_stream_by_NSVCA()` and `Module.get_streams_by_stream_name()`.

[2019-05-17 19:22] sgallagher opened #301 "Fix #Module vs #Modulemd in doc comments"
As noted in #300, there are numerous places in the doc comments where it should read `#Modulemd` and instead reads `#Module`

[2019-05-20 13:54] #297 closed

[2019-05-20 13:54] #292 closed

[2019-05-20 13:54] #294 closed

[2019-05-21 14:58] mprahl commented on #296
@ignatenkobrain could you please open a ticket for this on the MBS repo?

I think instead of `xmd.mock.options.dynamic_buildrequires`, we can place it in `xmd.mbs_options.dynamic_buildrequires`. We already have a convention for putting advanced build options there. Then MBS can look at the value when appropriate.

[2019-05-21 15:57] #186 closed

[2019-05-22 09:04] voxik commented on #269
I don't think this has anything to do with release engineering. Everybody is free to use this branching model right now. What I am proposing is updated default, so there is more convention instead of configuration.

[2019-05-22 10:15] sgallagher commented on #269
@voxik
What @mprahl means is that it's not up to him to decide if the proposed workflow is the correct one. From the conversation in https://pagure.io/fm-orchestrator/issue/1226 it sounds like there are flaws in this requested approach. So we are not going to implement this way of doing it.

[2019-05-22 10:15] #269 closed

[2019-05-22 11:59] mprahl commented on #269
It does because Release Engineering internally defines the branch naming conventions.

[2019-05-22 13:29] voxik commented on #269
This proposal is not against branch naming conventions defined by RCM not for Fedora (there are not policies at all) neither internally (RCM dictates "stream-" prefix for components, but as far as I know, there is no real restriction on module branches. They could have the same "stream-" prefix).

[2019-05-22 20:45] #188 closed

[2019-05-28 14:42] sgallagher opened #308 "module.search_streams() should be (transfer container)"
There's a bug in the API for `Modulemd.Module.search_stream()` and it has `(transfer full)` instead of `(transfer container)`, which will lead to memory-corruption issues (since garbage-collection will attempt to free the contents of the array rather than just the array container).

CC @smooge @puiterwijk as an FYI. I will get a patch out immediately.

[2019-05-28 18:15] sgallagher opened #309 "Add Modulemd.Module.get_stream_names()"
There should be a function to get a list of all stream names for this Module. Among other things, this can be used in conjunction with `Module.search_streams()`.

[2019-05-29 18:24] #308 closed

[2019-05-30 12:45] OrionStar25 commented on #309
Working on this now.

[2019-06-03 13:06] sgallagher commented on #296
Closing this as we aren't making any changes on this side. @ignatenkobrain please open the MBS version if you haven't already.

[2019-06-03 13:07] ignatenkobrain commented on #296
@sgallagher actually @contyk wanted to comment on this one....

[2019-06-03 13:13] sgallagher commented on #208
I'm reconsidering my stance on this; I was trying to avoid pulling in more dependencies, but I suppose as long as we restrict ourselves to supporting whatever is required by libsolvext.so in the same release, it's not like we'll be causing new deps to appear.

It probably means coordinating with libsolv to make sure that we enable the same algorithms at the same time, though. (For example, libzstd

[2019-06-03 13:17] sgallagher commented on #262
Closing and merging this with #208

[2019-06-03 13:18] sgallagher commented on #208
We should probably implement this by way of GInputStream for flexibility.

[2019-06-03 21:11] #309 closed

[2019-06-05 12:27] sgallagher opened #315 "Add annotations for object properties"
We have good documentation for the object methods in libmodulemd, but we are entirely missing them for the object properties, which is particularly important for people who are writing code in a bound language such as Python.

For example, I was working with someone yesterday who was unaware that they could get the module stream name by doing `stream.props.stream_name` from Python.

[2019-06-05 12:29] sgallagher opened #316 "[Docs] Include object property examples in Python"
Related to #315, we should provide examples of using object properties in Python, once the properties are visible in the documentation.

[2019-06-05 12:33] #301 closed

[2019-06-05 12:49] sgallagher opened #317 "Add annotations for internal functions"
There are numerous functions in the [Private Object Methods](https://fedora-modularity.github.io/libmodulemd/latest/ch02.html) and [Private Developer Utilities](https://fedora-modularity.github.io/libmodulemd/latest/ch03.html) documentation sections that have no GTKdoc annotations, which makes it hard on new contributors. We should describe these much better.

[2019-06-26 20:44] sgallagher opened #321 "Profile.get_description() is not handling translations"
https://github.com/fedora-modularity/libmodulemd/blob/master/modulemd/v2/modulemd-profile.c#L158

Discovered during the implementation of #319

We need to make sure that the profile is properly associated with the correct Translation object in the index.

[2019-06-27 12:12] #321 closed

[2019-06-28 20:45] mmathesius commented on #315
This issue was resolved by commit b8bcf46.

[2019-07-02 19:06] #315 closed

[2019-07-03 20:22] sgallagher commented on #270
Fixed in 2.6.0

[2019-07-03 20:22] #270 closed

[2019-07-15 18:51] sgallagher opened #333 "Create valgrind suppression file for Python tests"
When running valgrind against the Python tests for libmodulemd, we get a lot of noise. We need to analyze it and identify

* What is a false positive
* What is real but caused by GObject and not us
* What we need to address in libmodulemd

@mmathesius Would you mind looking into this? http://valgrind.org/docs/manual/manual-core.html#manual-core.suppress has notes on how to generate a suppression f

[2019-07-15 18:53] sgallagher commented on #333
The ideal outcome here of course is to be able to add the python tests to the valgrind test that runs as part of our CI. Right now they are excluded and only the C tests are run.

It'll also make it easier when writing new tests, as we won't have to duplicate them in both Python and C.

[2019-07-18 20:05] owtaylor opened #340 "Emitted yaml for an empty ModuleDependencies"
[code]
[code]

Where I would expect `dependencies: [{}]`

 * it seems logically consistent to me - things in the dependency lists are different options for the dependencies of the modules - and one valid option for dependencies is "no dependencies"
 * libmodulemd otherwise considers empty dependency objects valid
 * libomodulemd will read `dependencies: [{}]` and create the expected structures - t

[2019-07-19 15:10] mmathesius opened #341 "Make ModulemdErrorEnum into a public enum"
`ModulemdErrorEnum` is currently defined as part of the private API in `private/modulemd-util.h`. It should be made public (likely in main `modulemd.h`) so it can be used by the python bindings.  For example, if someone catches a `GLib.Error`, they can check whether it's a validation error or something else. See https://pagure.io/pungi/pull-request/1240#request_diff as a specific use case where th

[2019-07-19 16:18] sgallagher commented on #340
@contyk Can I get your opinion on this one? I'm not sure exactly how meaningful such a construct would be, but it's easy-enough to add it if you agree here.

I'm slightly inclined to treat it as a mistake, but I kind of see @owtaylor's point that it could break assumptions on the consumer side. Though the fact that `platform` is universally in use makes this somewhat less than urgent to figure out

[2019-07-19 21:16] mmathesius commented on #341
@sgallagher Putting `ModulemdErrorEnum` in the main `modulemd.h` would actually get kind of messy--since it would mean every source file that references one of the `MODULEMD_ERROR_*` enums would have to have `#include "modulemd.h"` added--which seems like a dependency that should be avoided. No existing header file is the right fit to contain it, either.

So, perhaps a new public `modulemd-utils.h

[2019-07-22 12:37] sgallagher commented on #341
@mmathesius I think `modulemd-errors.h` probably makes the most sense.

Also, we should probably move `ModulemdYamlErrorEnum` into the `modulemd-errors.h` as well, since those errors are returned in the `failures` list from the `index.update_from_*()` functions.

[2019-07-22 13:02] sgallagher commented on #340
Upon further consideration, I think I agree with @owtaylor. If someone has explicitly set this value, we shouldn't be dropping it on the floor. I've just submitted https://github.com/fedora-modularity/libmodulemd/pull/345 with a fix.

[2019-07-22 13:22] sgallagher commented on #296
@contyk Do you have something to say here?

[2019-07-22 13:23] sgallagher commented on #288
@ignatenkobrain @mprahl This slipped off my radar. Is this still something that is desired? I can get it into 2.7.0 if so.

[2019-07-22 13:25] #195 closed

[2019-07-22 14:41] ignatenkobrain commented on #288
Yes, please.

[2019-07-22 14:45] sgallagher commented on #288
@mmathesius Would you please add a new boolean attribute to `ModulemdComponentRpm`, along with the appropriate getter, setter and tests?

[2019-07-22 20:18] #340 closed

[2019-07-22 21:05] mmathesius commented on #288
Just to make sure I've got the semantics right, is https://github.com/mmathesius/libmodulemd/commit/f035b2754e4abdab502ac0e46f0c2aeb3b7a98a4 an accurate representation of the spec change corresponding to this RFE?

[2019-07-22 21:35] sgallagher commented on #341
Fixed by https://github.com/fedora-modularity/libmodulemd/pull/346

[2019-07-22 21:35] #341 closed

[2019-07-22 21:38] sgallagher commented on #288
Hmm, I'm not sure exactly what the point of the `buildroot` argument would be here. The `srpm-buildroot` makes sense, but `buildroot` should just be handled by the `buildorder/buildafter` functionality, I think.

@ignatenkobrain Can you explain why you think `buildroot` is useful?

[2019-07-22 21:42] ignatenkobrain commented on #288
`buildorder/buildafter` does not control default set of packages in the buildroot. Yes, packages can BuildRequires those... But I wanted it for completness. Like if you can specify it in profile and it is inherited by MBS, why do one part and not another?

https://github.com/fedora-modularity/libmodulemd/blob/master/spec.v2.yaml#L177-L190

[2019-07-22 21:45] sgallagher commented on #288
Okay, I guess it’s fine to include it and rarely use it.

@mmathesius please update the spec to explain that the purpose is to force it into the buildroot even if not explicitly in BuildRequires. That should obviously imply defaulting to False as well.

[2019-07-22 21:46] ignatenkobrain commented on #288
Probably include reference to `srpm-buildroot` and `buildroot` profiles’ description…

[2019-07-22 22:36] sgallagher commented on #288
@ignatenkobrain More information, please? Are there some special-cases profiles we need to document?

[2019-07-23 02:15] ignatenkobrain commented on #288
@sgallagher sorry for not being very clear. In the spec.v2.yaml we have some documentation what purpose `srpm-buildroot` and `buildroot` are serving. This is essentially same, but within a module.

[2019-07-23 16:35] sgallagher commented on #288
@ignatenkobrain Thanks.

@mmathesius So I think the spec here should be:

[code]

[2019-07-23 17:13] mmathesius commented on #288
@sgallagher @ignatenkobrain Thank you for the clarifications. Is https://github.com/mmathesius/libmodulemd/commit/2aa760b37ebe7eaea499f092d185420473c98f9f more copacetic?

[2019-07-23 17:17] ignatenkobrain commented on #288
Yeah, but I would make sure that it is more explicit about "after this component"... I would write something like "in the next buildorder/buildafter"... Don't know how to properly describe that.

[2019-07-23 18:09] mmathesius commented on #288
@ignatenkobrain Would it be clearer reworded as: "any component built after this one" &rarr; "any component built in subsequent buildorder/buildafter batches"?

[2019-07-24 15:18] mmathesius commented on #288
My previously suggested rewording is now incorporated into the spec update in https://github.com/mmathesius/libmodulemd/commit/dd416e918d6ad920a85f4e11548c4628387bb8c5.

[2019-07-24 16:01] sgallagher commented on #288
Looks reasonable to me

[2019-07-30 20:50] sgallagher commented on #288
Merged today, this will be available in libmodulemd 2.7.0

[2019-08-07 05:58] SunitiJain commented on #316
Is this issue still open? I would like to work on it.
Thanks

[2019-08-09 11:01] mmathesius commented on #316
@SunitiJain

Yes. Thank you for your interest in contributing-it would be greatly appreciated!

[2019-09-03 12:35] #208 closed

[2019-09-03 19:55] mmathesius commented on #288
The `libmodulemd` implementation of this appears to be complete, released, and available. Can this issue be closed?

[2019-09-03 19:56] #288 closed

[2019-09-03 19:56] sgallagher commented on #288
Yes

[2019-09-04 01:40] #262 closed

[2019-09-05 13:47] sgallagher opened #364 "Create modulemd-packager YAML document type"
Right now, we have a complicated libmodulemd metadata format that is both the input and output for the build system. The input that packagers are expected to provide is a very small subset of the total specification. It would be simpler on packagers if they could write a document in a simplified format and use that as input to the build system.

I propose that we create a specification as follows:

[2019-09-07 12:07] Ionic opened #365 "modulemd-validator: missing man page"
User-visible binaries in `{,/usr}/{,s}bin` should have documentation associated with them, at the very least a man page.

This is currently not the case.

[2019-09-18 12:43] lubomir opened #366 "update_from_defaults_directory does not check for conflicting streams"
If I have a directory with two defaults files that are conflicting (same module name, different default stream), this function will load the files and not produce any error even with `strict=True`.

This would be handy in Pungi. There was [a change](https://github.com/fedora-modularity/libmodulemd/commit/3087e4a5c38a331041fec9b6b8f1a372f9ffe64d) to make this error reporting possible, but with this

[2019-09-18 13:21] sgallagher commented on #366
@lubomir Do you think it makes sense to have the `strict` variable control this or would you prefer if I created a `Modulemd.update_from_defaults_directory_ext()` function with a `strict_default_streams` argument like `Modulemd.ModuleIndexMerger.resolve_ext()` has?

[2019-09-18 13:23] lubomir commented on #366
I think just reusing `strict` would be sufficient.

[2019-09-18 13:25] sgallagher commented on #366
@lubomir OK, I can do that. Should have something today or tomorrow.

[2019-09-18 13:31] lubomir commented on #366
No pressure, I can work around this very easily.

[2019-09-18 18:57] #366 closed

[2019-09-18 20:16] sgallagher commented on #366
@lubomir I just pushed the patch for this into all released branches in Fedora: https://bodhi.fedoraproject.org/updates/?like=libmodulemd

Please test and give karma.

[2019-09-20 18:22] sgallagher opened #368 "[RFE] More lenient defaults merging"
The current behavior of the defaults merging logic is located at https://fedora-modularity.github.io/libmodulemd/latest/modulemd-2.0-Modulemd.ModuleIndexMerger.html

In particular, this part of the logic: "When merging ModuleIndexes, if two or more indexes contain Defaults for the same module, but different modified values, the one with the highest modified value will be used and the others discar

[2019-09-24 15:56] contyk commented on #368
Yes, that makes sense to me. +1

[2019-09-24 21:59] mmathesius commented on #368
Agreed. (Although it is strictly an incompatible change, it's a new situation that wasn't previously considered.)

[2019-09-25 00:36] sgallagher commented on #296
Re-closing this due to lack of response for two months.

[2019-09-25 00:36] #296 closed

[2019-09-25 17:44] tpgxyz opened #369 "Allow to disable gtk-doc building"
Can you please allow to disable gtk-doc building in meson_options ? Thanks.

[2019-09-25 17:46] sgallagher commented on #369
I can, but would you mind describing your use-case?

[2019-09-25 17:50] tpgxyz commented on #369
Dependency bloat, just to build some docs which is not essential to get this package working.
Anyways pulling gtk-doc inside rpm build chroot also pulls many packages required by gtk-doc.
Building documentation should be optional, unless license says different.

[2019-09-25 17:51] sgallagher commented on #369
Sure, that's reasonable. I'll get this done for 2.8.1.

[2019-09-25 18:02] tpgxyz commented on #369
@sgallagher I've prepared PR

[2019-09-25 19:35] #369 closed

[2019-10-02 21:13] #368 closed

[2019-10-04 12:32] KOLANICH opened #376 "Document migration from v1 to v2"

[2019-10-04 12:59] sgallagher commented on #376
I'm not really sure how to document the migration, because they are very different approaches. It's probably best to just read through the [documentation for v2](https://fedora-modularity.github.io/libmodulemd/latest/) which includes quite a few examples.

[2019-10-04 15:16] KOLANICH commented on #376
I am neither familiar to v1, nor to v2.  My current goal is to setup building all the necessary packages to make debian packages with libdnf with its python bindings. But it seems that libdnf uses v1 API even though in CMakeLists.txt it requires 2.0 (more precisely, it doesn't builds against the latest git).

[2019-10-04 15:38] sgallagher commented on #376
libdnf has v2 on its roadmap: https://bugzilla.redhat.com/show_bug.cgi?id=1693683

If you need to work with v1, the documentation I have on it is at https://fedora-modularity.github.io/libmodulemd/1.8/

Yeah, v2 is a total rewrite. It's not compatible with v1 at all.

[2019-10-04 16:03] KOLANICH commented on #376
Thanks for the info. I guess I would have to use the old version untill the migration. Could you also apply #375 to 1 branch?

[2019-10-08 12:11] sgallagher commented on #365
Agreed, this is lacking. It's low on my priority list, though. The `--help` output is reasonably useful and it's a fairly simple program. But I'll look into adding it when I have spare cycles.

[2019-10-08 12:14] sgallagher opened #378 "Backport defaults merging to 1.x"
Since libdnf is still using the 1.x API, we need to ensure that the merging logic is replicated there.

[2019-10-08 12:24] OrionStar25 commented on #365
Could this be taken up by one of the google code in participants?

[2019-10-08 12:25] sgallagher commented on #365
@OrionStar25 Yes, absolutely!

[2019-10-09 09:52] OrionStar25 commented on #316
@sgallagher I've submitted all the `good-first-issues` as part of GCI (Google Code-In). Do you suggest I add a label to it or let it be?

[2019-10-15 08:19] remicollet opened #381 "merging modulemd-defaults"
Perhaps related to #379 so probably already fixed, so mostly a question

I notice than when multiple repositories provide different streams (use case: AppStream + CentOS Stream,  or using "remi-modular")  if defined in a single repo (AppStream, the one which provides it and which is the reference) the default stream is lost.

For now, the workaround is to have it redefined in other repository.

[2019-10-15 10:21] sgallagher commented on #381
@remicollet Could you provide a little more detail about what you are seeing? I want to create a test case for it so I make sure I’ve covered that situation with the recent fixes. I planned to make a release including them today, but I’d like to confirm that first.

[2019-10-15 10:49] remicollet commented on #381
ON RHEL or CentOS 8 with **remi-modular** repo enabled

AS reported / explained by a user: https://forum.remirepo.net/viewtopic.php?id=3908

* In **AppStream**, php default stream set to 7.2
* In **remi-modular**, various alternative streams (remi-7.2, remi-7., remi-7.4),  no default set

dnf module list php show any default stream

(BTW, this is fixed now, as I defined the default stream to 7.2)

[2019-10-15 12:02] sgallagher commented on #381
@remicollet When you say "I defined the default stream to 7.2", do you mean that you previously had a defaults entry that did not have a default stream defined (such as to provide profile defaults but not a default stream) or that you had no defaults entry in the metadata at all?

[2019-10-15 12:20] remicollet commented on #381
Before:
[code]

[2019-10-15 12:24] sgallagher commented on #381
OK, that was my suspicion. So this will indeed be resolved by #379

What was happening with the previous logic is that, because your `version` was set to `1` and the official one in AppStream was unset (`==0`), your defaults were overriding the official ones.

With the revised merging logic, the `version` field will only come into play when resolving conflicts between the two repositories. This ex

[2019-10-15 12:30] remicollet commented on #381
Done as https://bugzilla.redhat.com/show_bug.cgi?id=1761805

[2019-10-15 12:39] sgallagher commented on #381
Thank you. I'll close this ticket as it's resolved in upstream.

[2019-10-15 12:39] #381 closed

[2019-10-15 13:32] sgallagher commented on #378
Merged in https://github.com/fedora-modularity/libmodulemd/commit/d0dcf7b373b3cf85cd39eb3bc23d31e06195a75a

[2019-10-15 13:32] #378 closed

[2019-10-17 01:36] sgallagher opened #382 "Modulemd.ModuleStream.read_*() doesn't honor name overrides"
The `Modulemd.ModuleStream.read_*()` functions have optional fields `module_name` and `module_stream` that are intended to override the names read from the file (or not read, if they were unspecified on disk). This is mostly intended for use with packager modulemd documents that should get their name from the git directory and their stream name from the git branch.

However, we never actually impl

[2019-10-17 15:23] #382 closed

[2019-10-24 19:06] sgallagher opened #386 "Implement retry logic in CI tests"
There are a few places in the CI tests that require external resources (`dnf install` and `docker pull`, mainly). Occasionally one of these hits a network hiccup and fails, causing the test to fail (and all subsequent stages to be canceled).

We should implement a retry mechanism for these calls to make the tests more reliable. It's probably sufficient to try three times before giving up.

[2019-11-06 13:42] tpgxyz opened #387 "Could not execute command "/builddir/build/BUILD/modulemd-2.8.2/modulemd/clang_simple_version.sh /usr/bin/clang-tidy"
Hi,

i'm trying to build modulemd-1.8.2 with LLVM/clang-9.0.1 and i got this error. Full build log can be found here https://abf.openmandriva.org/build_lists/640727

[code]

Looks like problem lies here:
https://github.com/fedora-modularity/libmodulemd/blob/89031dbcc98fee3696c51b48f8e665ade4695d05/modulemd/clang_simple_version.sh#L1

[2019-11-07 11:55] tpgxyz commented on #387
fixed

[2019-11-07 11:55] #387 closed

[2019-12-06 13:36] mprahl opened #399 "Add the ability to set the architectures to build for in the modulemd file"
Currently, there is a way to override the arches per component, but it'd be nice to be able to set the default arches at the module level. In practice, MBS would set these arches on the build tags it creates in Koji.

This should likely be a field under `buildopts`.

[2019-12-06 13:38] sgallagher commented on #399
@mprahl Something like this?

[code]

[2019-12-06 13:39] mprahl commented on #399
@sgallagher yes. That looks good to me.

[2019-12-06 13:46] sgallagher commented on #399
@mprahl What sort of behavior do you expect if someone sets the `arches` field both in buildopts and for a specific component?

The cases we should consider:

1. Do we allow them to both be used in the same modulemd, or are they mutually-exclusive?
1. If the component set of arches is a proper subset of those in the buildopts, do we just build that component for that subset of arches or for all ar

[2019-12-06 13:46] sgallagher commented on #399
@mmathesius as well

[2019-12-06 15:26] mprahl commented on #399
I've stated my opinions inline.

Yes

I think we should use the subset.

I think the modulemd validation should fail.

I think the modulemd validation should fail.

[2019-12-06 16:30] sgallagher commented on #399
@mprahl I agree on all points. I'll proceed with that approach.

[2019-12-06 18:25] mmathesius commented on #399
@sgallagher I also agree on all points.

[2019-12-10 15:02] sgallagher commented on #399
The plan is to add the `arches` attribute to `data.buildopts` in [`spec.v2.yaml`](https://github.com/fedora-modularity/libmodulemd/blob/master/spec.v2.yaml) and extend the `Modulemd.Buildopts` object with a set of new methods:

* `modulemd_buildopts_add_arch()`
* `modulemd_buildopts_remove_arch()`
* `modulemd_buildopts_clear_arches()`
* `modulemd_buildopts_get_arches_as_strv()`

Then also extend t

[2019-12-10 18:22] mmathesius opened #400 "Deprecate _reset_ methods in favor of _clear_ methods"
For the sake of method naming consistency, `modulemd_component_rpm_reset_arches()` and `modulemd_component_rpm_reset_multilib_arches()` should be deprecated and renamed to `modulemd_component_rpm_clear_arches()` and `modulemd_component_rpm_clear_multilib_arches()`. All other emptying methods in the libmodulemd API are named using a `*_clear_*` scheme.

[2019-12-13 18:03] #399 closed

[2020-01-07 13:01] sgallagher opened #417 "Standardize on g_test_add_func()"
Currently, the C test runners are using a mixture of `g_test_add()` and `g_test_add_func()`. None of them are using the extended functionality of `g_test_add()`, so we should convert them all over to `g_test_add_func()` for uniformity and simplicity.

[2020-01-21 12:13] kontura opened #428 "Add fnmatch support for NSVCA filtering"
libdnf provides fnmatch filtering of modules it would be really helpful if the API provided this capability.

Something like:
Per*:5.2[46]

for reference:
http://man7.org/linux/man-pages/man3/fnmatch.3.html

[2020-01-21 12:21] kontura opened #429 "Search ModuleIndex for streams containing particular NEVRA"
It should also support fnmatching.

We can provide separated strings of NEVRA as different arguments.
Filters for: name, version, epoch, release, architecture and also the full NEVRA string.

[2020-01-23 09:33] #417 closed

[2020-01-23 11:25] sgallagher commented on #429
@kontura
Is it acceptible to give you just the full nevra string matching for now? We don't actually maintain the split NEVRA in the module metadata, so providing the split lookup would be difficult. Even if you have the components separated already, merging them into a NEVRA format should be a trivial `sprintf()`.

I'm thinking we'd have: `modulemd_module_index.search_rpms_by_nevra(nevra_glob)` a

[2020-01-23 11:58] OrionStar25 commented on #199
@sgallagher Currently, these tests are left to copy:

1. [test_buildopts](https://github.com/fedora-modularity/libmodulemd/blob/master/modulemd/tests/ModulemdTests/modulestream.py#L274)
2. [v1_eol](https://github.com/fedora-modularity/libmodulemd/blob/master/modulemd/tests/ModulemdTests/modulestream.py#L508)
3. [v1_yaml](https://github.com/fedora-modularity/libmodulemd/blob/master/modulemd/tests/M

[2020-01-23 11:59] sgallagher commented on #199
@OrionStar25 I'd prefer if they were, because it allows us to run memory checks and static analysis scans against those codepaths. Thank you (and your mentees) very much for your work on this!

[2020-01-23 12:05] OrionStar25 commented on #198
Only [strict_default_streams](https://github.com/fedora-modularity/libmodulemd/blob/master/modulemd/tests/ModulemdTests/merger.py#L259) is left to copy in this.

[2020-01-25 16:11] #429 closed

[2020-01-27 09:17] sgallagher commented on #428
This is now merged upstream. I'll be doing a 2.9.0 release next week that includes it.

[2020-01-27 09:17] #428 closed

[2020-01-27 09:21] #400 closed

[2020-01-27 09:25] sgallagher commented on #194
This is open for anyone to work on.

[2020-01-27 09:26] Conan-Kudo commented on #194
Current libmodulemd 2.x requires meson 0.47, which will land in openSUSE Leap 15.2, so retargeting this issue for that.

[2020-01-27 09:29] sgallagher commented on #197
This issue is open for anyone to take.

[2020-02-03 23:56] mmathesius commented on #386
Fix by #434.

[2020-02-03 23:56] #386 closed

[2020-02-03 23:57] mmathesius commented on #316
Fix by #436.

[2020-02-03 23:57] #316 closed

[2020-02-05 17:48] #364 closed

[2020-02-10 12:46] #365 closed

[2020-02-10 13:23] sgallagher commented on #333
This was merged for 2.9.0

[2020-02-10 13:23] #333 closed

[2020-02-10 22:39] packit-as-a-service[bot] opened #446 "[packit] Propose update failed for release libmodulemd-2.9.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `Cannot checkout release tag: Cmd('git') failed due to: exit code(1)   cmdline: git checkout libmodulemd-libmodulemd-2.9.0   stderr: 'error: pathspec 'libmodulemd-libmodulemd-2.9.0' did not match any file(s) known to git'.` |
| `f31` | `Cannot checkout release tag: Cmd('git') fai

[2020-02-11 12:45] dhodovsk commented on #446
This was caused by https://github.com/packit-service/packit-service/issues/392
Could you please try it without `upstream_tag_template` value in config?

[2020-02-11 13:14] sgallagher commented on #446
If I leave off the `upstream_tag_template`, I end up with packages built with

[code]
which results in RPMs named `libmodulemd-libmodulemd-2.9.0.git<blah>...`

[2020-02-11 14:59] sgallagher opened #448 "Advanced Module Dependencies: Conflicts/Obsoletes/Recommends..."
Currently, we only support strict dependencies (the equivalent of RPM's `Requires:`). It has been suggested in many different places that we may need to implement a more comprehensive set of dependency relationships.

Let's discuss that in this issue.

[2020-02-12 22:30] #446 closed

[2020-02-12 22:40] packit-as-a-service[bot] opened #451 "[packit] Propose update failed for release libmodulemd-2.9.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `Cannot checkout release tag: Cmd('git') failed due to: exit code(1)   cmdline: git checkout libmodulemd-libmodulemd-2.9.0   stderr: 'error: pathspec 'libmodulemd-libmodulemd-2.9.0' did not match any file(s) known to git'.` |
| `f31` | `Cannot checkout release tag: Cmd('git') fai

[2020-02-14 16:34] packit-as-a-service[bot] opened #455 "[packit] Propose update failed for release libmodulemd-2.9.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `Cannot checkout release tag: Cmd('git') failed due to: exit code(1)   cmdline: git checkout libmodulemd-libmodulemd-2.9.1   stderr: 'error: pathspec 'libmodulemd-libmodulemd-2.9.1' did not match any file(s) known to git'.` |
| `f31` | `Cannot checkout release tag: Cmd('git') fai

[2020-02-25 15:39] kontura opened #458 "modulemd_module_index_search_streams_by_nsvca_glob crashes with NULL"
I tried to use `modulemd_module_index_search_streams_by_nsvca_glob` with `NULL` as suggested here: https://github.com/rpm-software-management/libdnf/pull/894#discussion_r377211227 but it SegFaults on `g_ptr_array_extend_and_steal`.

If instead `"*"` is used as a parameter it works fine.

[2020-02-25 15:50] kontura opened #459 "Matching NSVCA but different content - merging indexes fails returning NULL"
libdnf is merging indexes in order to get module defaults, this fails and returns NULL on F30 because fedora-modular and fedora-updates-modular contain streams with matching NSVCA but different content.

It would be more useful to get resulting index with as much correct data as possible, while reporting the errors. I am not sure what would be the best way to report the errors.

[2020-02-28 16:09] #458 closed

[2020-03-11 20:16] packit-as-a-service[bot] opened #463 "[packit] Propose update failed for release libmodulemd-2.9.2"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `Cannot checkout release tag: Cmd('git') failed due to: exit code(1)   cmdline: git checkout libmodulemd-libmodulemd-2.9.2   stderr: 'error: pathspec 'libmodulemd-libmodulemd-2.9.2' did not match any file(s) known to git'.` |
| `f31` | `Cannot checkout release tag: Cmd('git') fai

[2020-04-05 00:42] jtojnar opened #466 "overridesdir detection is unreliable"
When trying to build without PyGObject installed (in a build chroot), the build fails with:

[code]

It turns out the detection script tries to load the `gi` directory from the source tree, as evidenced by the following patch:

[code]

[code]

[2020-04-05 01:01] jtojnar commented on #466
With pygobject3 installed, I see:

[code]

which is not ideal either, since we want to install this to our own prefix (e.g. `/nix/store/50pq7c1wsblc94xfk1x2mp4b2gig9pnp-libmodulemd-2.9.2/lib/python3.7/site-packages/gi/overrides`).

[2020-04-07 07:26] omgold opened #468 "Valgrind test failing"
With current version 2.9.2 the valgrind fails with 'invalid read' errors.

[code]
[testlog.txt.gz](https://github.com/fedora-modularity/libmodulemd/files/4442599/testlog.txt.gz)

[2020-04-07 12:38] sgallagher commented on #468
Can you apply https://github.com/fedora-modularity/libmodulemd/commit/b1feeb990f536147d5c49c6d002b04a9436eeea2 and see if that resolves the issue for you?

[2020-04-08 01:00] sgallagher commented on #466
I merged PR #469, so this should be fixed.

@jtojnar Would you be willing to contribute a test for NixOS build and install similar to those we have for Mageia, OpenMandriva and OpenSUSE? See the [`.travis`](https://github.com/fedora-modularity/libmodulemd/tree/master/.travis) subdirectory in the checkout for details.

[2020-04-08 01:00] #466 closed

[2020-04-08 01:30] jtojnar commented on #466
Looking at it more, I am not even sure if we should keep libmodulemd in our repositories. It was only added as a dependency for libdnf used by rpm-ostree but its maintainer abandoned `rpm-ostree` and I have no idea what it could be used for on NixOS.

[2020-04-08 14:41] packit-as-a-service[bot] opened #470 "[packit] Propose update failed for release libmodulemd-2.9.3"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `Cannot checkout release tag: Cmd('git') failed due to: exit code(1)   cmdline: git checkout libmodulemd-libmodulemd-2.9.3   stderr: 'error: pathspec 'libmodulemd-libmodulemd-2.9.3' did not match any file(s) known to git'.` |
| `f31` | `Cannot checkout release tag: Cmd('git') fai

[2020-04-10 07:49] omgold commented on #468
Nope, behavior is the same for both 2.9.2 plus b1feeb9 cherry-picked and also for 2.9.3.

[2020-04-13 12:21] sgallagher commented on #468
@omgold Could you provide more information? This isn't happening on the OS/python combinations that our CI tests.

What version of Python, valgrind and gcc are you using?

[2020-04-13 14:56] omgold commented on #468
Python is 3.8.2, Valgrind is 3.15.0.

[code]

[2020-04-13 16:17] mmathesius commented on #468
FYI, I ran the archlinux CI locally with valgrind enabled and had it generate suppressions. Hundreds are unique leaks are reported, but none of them include libmodulemd in the backtrace.

[archlinux-supp.txt](https://github.com/fedora-modularity/libmodulemd/files/4470392/archlinux-supp.txt)

[2020-04-13 16:19] #463 closed

[2020-04-13 16:19] #451 closed

[2020-04-13 16:19] #455 closed

[2020-04-13 16:22] sgallagher commented on #468
@mmathesius Could you send a PR with those suppressions added and valgrind enabled on the archlinux CI?

[2020-04-13 16:32] mmathesius commented on #468
@sgallagher Yes. I could quickly add all 517 unique suppressions, but I think it would be much better to spend some time trying come up with a much shorter list that is more generalized.

[2020-04-13 19:14] mmathesius commented on #468
@omgold I'll add the additional suppresions to `contrib/valgrind/libmodulemd-python.supp` to get valgrind to run without complaint. However, it's not at the top of my priorities, so it may take me a while. In the mean time, please set `MMD_SKIP_VALGRIND=1` in the environment prior to running `ninja test` so you are not blocked by the vagrind errors.

[2020-05-12 13:35] megarajan opened #471 "Module Yaml Error"
Pardon if this is the wrong place to raise this issue.
Whenever I give any yum command, I get the below Module Yaml errors. My search led me to the libmodulemd , hence asking here.

 yum repolist all
Repository extras is listed more than once in the configuration
Repository centosplus is listed more than once in the configuration
Last metadata expiration check: 0:01:38 ago on Tue 12 May 2020 10:15

[2020-05-12 17:07] sgallagher commented on #471
This looks like the problem is with the repository metadata. Is this a public mirror of CentOS? If so, could you show me which one?

[2020-05-13 01:29] megarajan commented on #471
thanks for taking a look.
no this is not seen in a public mirror. this is my private installation of centos8.
I am in particular looking at the "Module yaml errors"
As of now these warnings seem to be harmless, but it would be great if you can give any pointers on how I can debug/triage this warnings or disable them.

[2020-05-13 11:33] sgallagher commented on #471
My guess then is that the tool you used to sync the mirror needs to be updated to ensure that it also pulls in the `<hash>-modulemd.yaml.gz` from the `repodata/` directory. The error you're seeing suggests that the module metadata is missing or corrupt.

They probably are NOT harmless; A lot of RHEL 8 depends on modules being available.

[2020-05-14 05:23] megarajan commented on #471
thanks. I think the issue is as you noted in the <hash>-modulemd.yaml.gz as you noted which I am looking into.

I believe this can be closed.

[2020-05-14 05:23] #471 closed

[2020-05-20 19:38] packit-as-a-service[bot] opened #473 "[packit] Propose update failed for release libmodulemd-2.9.4"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `Cannot checkout release tag: Cmd('git') failed due to: exit code(1)   cmdline: git checkout libmodulemd-libmodulemd-2.9.4   stderr: 'error: pathspec 'libmodulemd-libmodulemd-2.9.4' did not match any file(s) known to git'.` |
| `f31` | `Cannot checkout release tag: Cmd('git') fai

[2020-06-23 15:00] allsey87 opened #477 "Changing master to main causes issues with Yocto builds"
To be clear, I am 100% supportive of the BLM movement, but I am 100% against the renaming the master branches of software to main. This is already causing issues in the Yocto build system and god knows how many other places.

I would like to point out that English is a complicated mess of a language. The word master like many words in English has several meanings, only one of which refer to notion

[2020-06-23 15:34] sgallagher commented on #477
If you are experiencing a specific issue with libmodulemd's change to `main`, please let me know. As of right now, you are not reporting a bug, so I'm closing this ticket.

[2020-06-23 15:41] allsey87 commented on #477
This is a [recipe from the Yocto repository](https://git.yoctoproject.org/cgit.cgi/poky/plain/meta/recipes-devtools/libmodulemd/libmodulemd_git.bb), a build system that is used to compile complete Linux  systems for millions of embedded devices worldwide.

You have single-handedly broken every single release of Yocto that includes libmodulemd. There are probably 1000s of people looking at the outp

[2020-06-23 15:46] allsey87 commented on #477
Example of the error message:

[2020-06-23 15:54] sgallagher commented on #477
OK, that's a concrete issue and one I can look into. Why does yocto hard-code `master` though? I'm certain libmodulemd isn't the only project to use a default branch with a different name. Or is it just doing that because a previous build came from `master`?

I can recreate the master branch so that revision can be found within it, but I'm not committing to keep the branch in sync with `main`. I'l

[2020-06-23 16:34] sgallagher commented on #477
The `master` branch is restored and is (currently) in sync with the `main` branch. @allsey87 Can you answer my questions above about how Yocto works and whether it depends on the presence of a `master` branch?

[2020-06-23 16:40] allsey87 commented on #477
Yocto usually points to a certain commit in master for various reasons that
usually come down to compatibility with other software that depends on it.
It is also not unusual for recipes to reference a particular commit from
master and apply patches against it.

Keeping a master branch with the required commits in it would be a
workaround for Yocto, and future releases could then reference the main

[2020-07-29 21:07] FrostyX opened #479 "modulemd-validator doesn't work with gziped files"
$ modulemd-validator foo.yaml.gz
    foo.yaml.gz failed to validate
    foo.yaml.gz could not be read in its entirety: Parser error

[2020-08-06 20:57] #479 closed

[2020-09-14 19:11] #477 closed

[2020-09-14 19:19] sgallagher opened #482 "Improve code auto-formatter integration"
In a [recent patch](https://github.com/fedora-modularity/libmodulemd/pull/481/commits/d4d68df3c44f48f956d1000312a6e7ff13b376a8), I dropped the "dirty git" test because one of the auto-formatters differed between Fedora releases in such a way that it was impossible to modify the line such that it would result in the same transformation on both. We cannot simply restrict this test to one release, si

[2020-09-18 09:26] kontura commented on #459
Thank you for the fix.

[2020-09-18 09:26] #459 closed

[2020-11-03 21:23] nasirhm commented on #197
I would like to work on it @sgallagher

[2020-11-03 21:51] sgallagher commented on #197
Be my guest. If you have questions, don't hesitate to ask.

[2020-11-26 15:15] j-mracek opened #516 "Problem with V3 parsing"
I tried to reuse V2 MdDocuments with changed version to V3 but I am getting Libmodulemd errors:
Tested with libmodulemd-2.10.0-2.fc32.x86_64
[code]
It means that not only a requirement of a platform key was added, but also parser was changed. The interesting part is that the same error appears ([line 22 col 3]) when only one MdDocument has a version 3 even the last one.

Please could you help me t

[2020-12-08 14:10] sgallagher opened #523 "RFE: When emitting strings in YAML, only quote when numeric"
As a stopgap behavior right now, we always emit the stream name with the double-quoted format to avoid issues where some non-libmodulemd parsers would treat `stream: 5.30` as a numeric value of `5.3`.

We should modify the emit macros to always double-quote strings that are lead by a digit. This also implies that we would have separate emit macros for scalars that *should* be numeric vs. scalars t

[2020-12-09 17:19] packit-as-a-service[bot] opened #526 "[packit] Invalid config"
Failed to load packit config file:
[code]
For more info, please check out the documentation: http://packit.dev/packit-as-a-service/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2020-12-10 01:08] #526 closed

[2020-12-10 21:33] sgallagher commented on #516
Closing this issue as we have scrapped the V3 format.

[2020-12-10 21:33] #516 closed

[2020-12-10 21:33] #470 closed

[2020-12-10 21:33] #473 closed

[2020-12-10 21:34] sgallagher commented on #468
We have aborted our attempts to run valgrind on the python code, as it is unreliable due to issues with the Python Global Interpreter Lock.

[2020-12-10 21:34] #468 closed

[2020-12-10 21:34] #376 closed

[2020-12-10 21:37] sgallagher opened #528 "Github Actions: Create snapshot of API documentation for releases"
Github Actions can be triggered on the creation of a project release. We should use the ci-docs.sh implementation as a baseline for creating a snapshot of the documentation that matches the code in each release automatically when that release occurs.

[2020-12-16 23:18] nasirhm commented on #197
@sgallagher , While I was working on adding test cases configuration for Mageia Cauldron, I found that Magiea doesn't ship a container image for Cauldron. To have cauldron, you have to fetch the repos and distro-sync it and then we can install the packages and run our test cases.

What do you think about it ?

[2020-12-16 23:23] Conan-Kudo commented on #197
@juanluisbaptiste, could we get an updated Cauldron container image?

[2020-12-17 00:30] sgallagher commented on #197
@nasirhm Also, be aware that we just replaced the CI configuration upstream; we're now using Github Actions.

[2020-12-17 02:50] juanluisbaptiste commented on #197
Sure, I will let you know when its ready.

[2020-12-17 02:51] juanluisbaptiste commented on #197
@Conan-Kudo sorry, I misread, we currently do not have cauldron images, only stable versions.

[2020-12-17 12:30] mcurlej opened #532 "Wrong types in python for PackagerV3"
Hi All,

when i use `Modulemd.read_packager_file()` it returns a tuple instead of a `ModulemdPackagerV3` object. Also when executing get_xmd() on said object it returns `GLib.Variant` not a dict as it is in `ModulamdStreamV2`.

It would be nice if the `ModulemdPackagerV3` would include a `get_version` or `get_mdversion` function which would return the version of the metadata format as it is in `Mo

[2020-12-17 15:31] #532 closed

[2020-12-18 00:01] nasirhm commented on #197
Noted. :)

[2020-12-19 03:16] carlwgeorge opened #535 "read_packager_file doesn't allow setting module_name"
The CentOS team routinely needs to read modulemd files with no name ([example](https://git.centos.org/modules/virt/blob/98fad7bdd0e4c84796ab04535d08dcf516333a34/f/SOURCES/modulemd.src.txt)).  We currently do that using `Modulemd.ModuleStream.read_file` in Python, which allows us to pass in an optional module name argument.

[code]

Since the 2.11 update on my Fedora workstation, I now get a deprec

[2020-12-21 16:48] mmathesius commented on #535
Something like that should be possible--at least from the Python perspective. However, we need to be careful changing the existing API in the C code.

@mcurlej @sgallagher What are your thoughts on this RFE?

P.S. With the year-end holidays upon us, don't expect an movement on this before the beginning of the new year.

[2020-12-21 21:32] mmathesius commented on #535
I had a few spare moments so I worked on this a bit. As noted in the associated draft PR, I have provided the C implementation to go along with this request, but I don't know how to integrate it with the Python API.

[2020-12-22 12:22] mcurlej commented on #535
@mmathesius I am ok with this, just please make it so it is the same API as in `Modulemd.ModuleStream.read_file` so it is not mandatory but only optional.

[2020-12-22 18:11] mmathesius commented on #535
I figured out how to integrate the enhanced functionality into the Python API--with the extra arguments being optional. See the additional commit in my PR.

But I have a follow-up question: Should the enhanced versions of the functions also include a `strict` parameter like `Modulemd.ModuleStream.read_file()` and `Modulemd.ModuleStream.read_string()` have? I'm not sure it's even meaningful to use

[2021-01-11 19:25] mikem23 opened #537 "TypeError: unbound method strip_gtype() must be called with ModulemdUtil instance as first argument"
There appears to be an issue with some of the recent changes. The module fails to load in python, at least on el7

[code]

[2021-01-11 19:26] mikem23 commented on #537
This was in a fresh centos7 container with python2-libmodulemd2 installed from epel

[2021-01-11 19:26] mikem23 commented on #537
attn: @sgallagher

[2021-01-11 19:58] sgallagher commented on #537
Merlin and I will look into this immediately.

[2021-01-11 21:32] #537 closed

[2021-01-11 22:14] sgallagher commented on #537
@mikem23  https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2021-07fff01e4a should fix this for you. Thanks for reporting the issue!

[2021-01-11 22:32] mikem23 opened #539 "packager format does not accept buildorder"
I performed a simple test of using the packager format by taking a simple modulemd yaml file and changing the document value to modulemd-packager. The yaml was rejected with this error:

[code]

It seems like the packager format should support any field that a developer would need to specify.

[2021-01-11 22:35] mikem23 commented on #539
This makes me wonder what other necessary fields not be rejected. I haven't run exhaustive tests. Is there a clear way to compare the two formats?

[2021-01-11 23:21] sgallagher commented on #539
This should actually be the only one that we dropped and it was semi-intentional.

We've been planning for the last [two years](https://pagure.io/fm-orchestrator/issue/1216) to support `buildafter` as a replacement for `buildorder`, so when I originally drafted the PackagerV2 format, I dropped `buildorder` from it. However, MBS has still not actually implemented support for `buildafter` and I over

[2021-01-12 22:18] #482 closed

[2021-01-13 12:51] mcurlej commented on #539
@sgallagher So i am confused was this removed in v2 or in v3?

[2021-01-13 13:11] sgallagher commented on #539
It was removed in the PackagerV2 format, which we never ended up using in Fedora. The ModuleStreamV2 format still supported both `buildorder` and `buildafter`.

We then did not implement `buildorder` into the PackagerV3 format because it was not part of PackagerV2, which we were using as our baseline.

To proceed from here, we need to do one or the other of the options I described [above](https://

[2021-01-13 13:16] mcurlej commented on #539
@sgallagher oh ok, thanks for the explanation. I am for the 2nd option, as `buildorder` was discontinued, some time ago.

[2021-01-13 21:26] #539 closed

[2021-01-13 22:32] mmathesius commented on #535
Fixed by #536.

[2021-01-13 22:32] #535 closed

[2021-01-14 08:11] mcurlej commented on #539
Ok so on a quick meeting we agreed that we will add the support for `buildorder` to the v3 format. This is the best solution for now. The change in MBS would take resources and time that we don't have. According to @sgallagher to add buildorder to the v3 packager format is trivial, so this is the way to go.

[2021-01-15 02:10] sgallagher commented on #528
Fixed by aaed38c899a958a88a6a368a70510e350ebe336c

[2021-01-15 02:10] #528 closed

[2021-01-15 16:18] sgallagher commented on #539
I have released libmodulemd 2.12.0 including this support and submitted Fedora and EPEL 7 updates. They should be in updates-testing shortly.

[2021-01-26 09:01] mcurlej opened #547 "v3 packager platform virtual module in requires"
Hi All,

so when i load the new v3 packager format and then run `convert_to_index` it will put `platform` virtual module in `buidrequires` and `requires`. Can we only put into `buildrequires`? The reason is that `platform` is not a real RPM that can be installed during runtime.

[2021-01-26 21:58] sgallagher commented on #547
It has to behave this way because otherwise it would not be backwards-compatible. The point of that function is to produce a StreamV2 document that could be used with an unmodified MBS to continue building the same way it did in RHEL 8.

If you have a genuine reason to drop the runtime one, do it explicitly after the conversion.

[2021-01-26 21:58] #547 closed

[2021-02-10 23:32] klauskiwi commented on #477
[code]
Came across this when trying to build yocto gatesgarth-24.0.1, which was confusing since the change from master to main was already in the repo..

Turns out I had an old version of the repository in my builds/downloads directory and this confused git greatly.
[code]
So just documenting here that if anyone is hitting this, make sure you `rm -rf build/downloads/git2/github.com.fedora-modulari

[2021-02-12 12:17] j-mracek opened #548 "Resolvement of default conflict - investigation/fix"
Please could you investigate that libmodulemd v1, v2, and v2 with static_contexts is able properly resolve conflicts in defaults. The investigation is critical to allow changes in defaults during life-cycle of distribution.

Requirements:

- defaults for module are modified (stream or profile), but `modified` value will be identical.
-- libmodulemd will report the problem
-- defaults for other mod

[2021-02-12 13:12] mcurlej opened #549 "Regex parsing for context in Stream/Packager v2"
Hi All,

we need to adjust the regex for context parsing. We need to investigate the regex which parses context.  The regex needs to be `a-zA-Z0-9.-_` to accomodate for contex suffixes. Can you take a look?

The specs:
https://github.com/fedora-modularity/libmodulemd/blob/main/yaml_specs/modulemd_stream_v2.yaml#L91

[2021-02-12 14:08] sgallagher commented on #549
There is no regex there. See https://github.com/fedora-modularity/libmodulemd/blob/main/modulemd/modulemd-module-stream-v2.c#L1237

You should be able to just add a check for `.`, `-`, and `_` to https://github.com/fedora-modularity/libmodulemd/blob/main/modulemd/modulemd-module-stream-v2.c#L1260

(Also, if 10 characters is insufficient, update MMD_MAXCONTENTLEN).

If you change this parsing, plea

[2021-02-12 15:28] sgallagher commented on #548
Please see https://fedora-modularity.github.io/libmodulemd/2.12.0/modulemd-2.0-Modulemd.ModuleIndexMerger.html which should answer all of these questions. If any such questions remain, the documentation should be updated to clarify it.

[2021-02-12 17:15] j-mracek commented on #548
@sgallagher What does it mean? Are you sure that it will work or not? Or do you prefer to test it after release by our customers?

[2021-02-12 17:20] sgallagher commented on #548
@j-mracek Please see https://github.com/fedora-modularity/libmodulemd/blob/main/modulemd/tests/test-modulemd-merger.c and https://github.com/fedora-modularity/libmodulemd/blob/main/modulemd/tests/ModulemdTests/merger.py

We have a fairly comprehensive set of tests around the implementation as described.

[2021-02-12 17:50] j-mracek commented on #548
Thanks, it means that you do not expect any problem, Good to know. Once again thanks for investigation and fast response.

[2021-02-12 17:51] #548 closed

[2021-04-21 14:01] ppisar commented on #549
I believe the requested change is available now in commit 0132015b5729b6077d49fc5beb2c662a563c6e6d.

[2021-04-22 14:10] ppisar commented on #549
The tests added in  #550 does not work on RHEL 8.  #552 should fix them.

[2021-04-28 08:11] packit-as-a-service[bot] opened #553 "[packit] Invalid config: deprecated options used"
Your config appears to use:
- `current_version_command`
Those options will soon be deprecated and superseded by actions, please adjust you packit configuration.

For more info, please check out the documentation: https://packit.dev/docs/actions/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-04-28 16:31] packit-as-a-service[bot] opened #555 "[packit] Invalid config: deprecated options used"
Your config appears to use:
- `current_version_command`
Those options will soon be deprecated and superseded by actions, please adjust you packit configuration.

For more info, please check out the documentation: https://packit.dev/docs/actions/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-04-29 11:02] ppisar commented on #555
A duplicate of bug #553.

[2021-04-29 11:02] packit-as-a-service[bot] opened #556 "[packit] Invalid config: deprecated options used"
Your config appears to use:
- `current_version_command`
Those options will soon be deprecated and superseded by actions, please adjust you packit configuration.

For more info, please check out the documentation: https://packit.dev/docs/actions/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-04-29 12:58] #553 closed

[2021-04-29 13:01] #555 closed

[2021-04-29 13:05] ppisar commented on #556
Duplicate of #553

[2021-04-29 13:05] #556 closed

[2021-04-29 13:05] packit-as-a-service[bot] opened #557 "[packit] Invalid config: deprecated options used"
Your config appears to use:
- `current_version_command`
Those options will soon be deprecated and superseded by actions, please adjust you packit configuration.

For more info, please check out the documentation: https://packit.dev/docs/actions/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-04-29 13:06] ppisar commented on #557
Duplicate #553.

[2021-04-29 13:06] packit-as-a-service[bot] opened #558 "[packit] Invalid config: deprecated options used"
Your config appears to use:
- `current_version_command`
Those options will soon be deprecated and superseded by actions, please adjust you packit configuration.

For more info, please check out the documentation: https://packit.dev/docs/actions/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-04-29 13:06] #557 closed

[2021-04-29 13:19] ppisar commented on #549
This issue was resolved with 0132015b5729b6077d49fc5beb2c662a563c6e6d and 6d02f70dc6d958c1d5743ec9ee8794459e671fd1 commits.

[2021-04-29 13:19] #549 closed

[2021-04-29 13:19] packit-as-a-service[bot] opened #559 "[packit] Invalid config: deprecated options used"
Your config appears to use:
- `current_version_command`
Those options will soon be deprecated and superseded by actions, please adjust you packit configuration.

For more info, please check out the documentation: https://packit.dev/docs/actions/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-04-29 15:55] ppisar commented on #558
Duplicate of #553.
This a bug in the bot <https://github.com/packit/packit-service/pull/1075>.

[2021-04-29 15:55] #558 closed

[2021-04-29 15:55] packit-as-a-service[bot] opened #560 "[packit] Invalid config: deprecated options used"
Your config appears to use:
- `current_version_command`
Those options will soon be deprecated and superseded by actions, please adjust you packit configuration.

For more info, please check out the documentation: https://packit.dev/docs/actions/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-05-06 15:31] ppisar commented on #559
Duplicate of #553

[2021-05-06 15:31] #559 closed

[2021-05-06 15:32] ppisar commented on #560
Duplicate of #553

[2021-05-06 15:32] #560 closed

[2021-09-28 04:03] rohanpm opened #578 "Provide less ambiguous specs"
In this repo, there is a yaml_specs directory at https://github.com/fedora-modularity/libmodulemd/tree/main/yaml_specs .

These are referred to as "specs" and sometimes linked from docs or discussions to share info about the format.  However, these aren't real specifications, they are just some examples with human-oriented doc strings.  They give developers an idea of each document's structure, bu

[2021-09-29 12:03] ppisar commented on #578
The implementation uses 64-bit 2-complement signed integer for storing buildorder. The quoted value 18446744073709551615 does not fit into it and this cannot be handled. I believe this is a deficiency in the specification because a similar limitation exists for "modified" field in [https://github.com/fedora-modularity/libmodulemd/blob/main/yaml_specs/modulemd_defaults_v1.yaml] format and it is doc

[2021-09-30 13:44] ppisar commented on #578
Rohan, is https://github.com/fedora-modularity/libmodulemd/blob/b23b688443a5b9ef04be2bd91b7c0c907a82a493/yaml_specs/modulemd_stream_v2.yaml#L605-L621 comprehensible for you?

[2021-10-01 03:36] rohanpm commented on #578
Yes, thank you.

[2021-10-01 06:06] #578 closed

[2021-12-22 18:36] LorbusChris opened #580 "Defining one default profile for all streams"
For modules that release new streams frequently, it would be useful to allow for one default profile for all streams, so the new streams wouldn't have to be added to the defaults file each time.

Example:
[code]

[2022-01-04 16:56] sgallagher commented on #580
If you use the newer [modulemd-packager v3 format](https://github.com/fedora-modularity/libmodulemd/blob/main/yaml_specs/modulemd_packager_v3.yaml#L251) you can include a field `default: true` to any profile that the stream specifies and it will be added automatically to the `modulemd-defaults` document once built.

That's friendlier to the developer and means that we don't have to change the defa

[2022-01-04 17:12] sgallagher commented on #580
I just opened https://src.fedoraproject.org/modules/cri-o/pull-request/1 as an example for `cri-o`. I hope that helps!

[2022-03-15 05:21] m10k opened #586 "Floaty values need to be converted to strings"
Hello,

when parsing YAML files generated by libmodulemd, some parsers (yq for example) will mangle floating point values, stripping trailing zeroes. This problem seems to affect mostly stream names when they are not on the right-hand side of a colon, as shown in the two snippets below.

For example, in the following snippet, the profile for `ant:1.10` is mangled to `ant:1.1`.
[code]

And another

[2022-03-15 06:35] m10k commented on #586
I have created pull request #587

[2022-03-16 11:07] ppisar commented on #586
Thanks. The pull request was merged.

[2022-03-16 11:07] #586 closed

[2022-04-13 12:11] ppisar opened #593 "Empty profile is parsed as a package with an empty name"
Having this document (empty profiles are legal <https://docs.fedoraproject.org/en-US/modularity/policies/packaging-guidelines/#_profiles>):

[code]

reading and writing results into:

[code]

This is a bug on parser side:

[code]

Possibly all rpms lists are affected.

[2022-04-13 15:16] sgallagher commented on #593
Your original document is faulty.

[code]
Literally says that there is one entry under `rpms:` and it's an empty scalar.

What you actually want is:
[code]
This will give you a zero-length array, which will behave as you expect. The docs may need to clarify this, but the way it's behaving is as expected.

[2022-04-13 15:20] ppisar commented on #593
My original document is without the trailing hyphen:

[code]

[2022-04-13 15:22] sgallagher commented on #593
That's still incorrect, because we expect a YAML_SEQUENCE_START here and we get nothing. The libyaml is probably just trying to treat the lack of content here as a zero-length scalar, but that's pretty much just trying to avoid aborting on an invalid syntax.

[2022-04-14 15:54] #593 closed

[2022-05-18 09:16] ppisar opened #598 "Obsoletes could support multiple replacements"
Modular obsoletes now support at most one replacing stream:

{noformat}
document: modulemd-obsoletes
version: 1
data:
  module: perl
  stream: 5.30
  [...]
  obsoleted_by:
    module: perl
    stream: "5.32"
{noformat}

It turned out [https://bugzilla.redhat.com/show_bug.cgi?id=2053213#c7] that's not enough. perl:5.32 is missing perl-Pod-Parser which exists in perl:5.30. Because no package from pe

[2022-07-25 20:42] sgallagher opened #599 "Packager v3: Extend configurations to allow stream renaming"
It would be useful to add an optional `stream:` key to the `data.configurations` section of the Packager v3 format. This would allow us to submit the module with a custom stream name for certain contexts.

As a real-world example, I currently maintain a variant of the `16` stream for EPEL 9 called `16-epel` which is needed because the RHEL module does not provide `v8-devel`, needed for some EPEL p

[2022-07-26 09:10] ppisar commented on #599
In other words you want to build multiple streams from a YAML file stored in a single dist-git branch.

While technically possible, there are two issues with it:

* One would need to change MBS. MBS is effectively in a maintenance mode. People who maintain it have no capacity for adding new features.
* Fedora policies require defining a stream value by a dist-git branch name <https://docs.fedorapr

[2022-07-26 20:46] sgallagher commented on #599
1. MBS already supports doing this for the stream, since in RHEL we set the stream name because it comes from a differently-named branch. It would be fairly easy to add this to the `ModulemdPackagerV3.convert_to_index()` function.

2. The Fedora policies can be updated once new functionality is added.

[2022-07-27 09:14] ppisar commented on #599
I'm not sure that MBS processes a stream value only after converting modulemd-packager into modulemd. When I wanted to add a similar feature for overriding component refs by context, I found out that MBS processes refs before the conversion.

I do not want to add yet another feature into libmodulemd which will be kept unimplemented by MBS. Like default profiles.